<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlMain">
		<size>800,480</size>
		<bg>#000000</bg>
		<id_arg>0</id_arg>
		<object class="Custom" name="ID_METER" subclass="fftdiffMeter" variable="m_pMeter" member="yes">
			<creating_code>$(THIS) = new $(CLASS)($(PARENT),m__pBuilder, $(ID),$(POS),$(SIZE));</creating_code>
			<include_file>fftdiffmeter.h</include_file>
			<local_include>1</local_include>
			<style></style>
			<pos>0,35</pos>
			<size>800,430</size>
		</object>
		<object class="wmButton" name="ID_M_PBTN1" variable="m_pbtnDelay" member="yes">
			<label>Delay</label>
			<pos>5,445</pos>
			<size>60,30</size>
			<bg>#5403DA</bg>
		</object>
		<object class="wmLabel" name="ID_M_PLBL3" variable="m_plblDelay" member="yes">
			<label></label>
			<border>uiRect::BORDER_DOWN</border>
			<pos>66,445</pos>
			<size>60,30</size>
			<fg>#000000</fg>
			<bg>#FFFFFF</bg>
		</object>
		<object class="wmButton" name="ID_M_PBTN2" variable="m_pbtnDelayCalculate" member="yes">
			<label>Calculate</label>
			<pos>128,445</pos>
			<size>60,30</size>
			<bg>#5403DA</bg>
		</object>
		<object class="wmButton" name="ID_M_PBTN6" variable="m_pbtnDelayReset" member="yes">
			<label>Reset</label>
			<pos>190,445</pos>
			<size>60,30</size>
			<bg>#5403DA</bg>
		</object>
		<object class="wmButton" name="ID_M_PBTN3" variable="m_pbtnWindow" member="yes">
			<label>Window</label>
			<pos>5,2</pos>
			<size>60,30</size>
			<bg>#0CA310</bg>
		</object>
		<object class="wmButton" name="ID_M_PBTN4" variable="m_pbtnOverlap" member="yes">
			<label>Overlap</label>
			<pos>66,2</pos>
			<size>60,30</size>
			<bg>#0CA310</bg>
		</object>
		<object class="wmLabel" name="ID_M_PLBL1" variable="m_pLbl1" member="yes">
			<label>Range:</label>
			<pos>200,2</pos>
			<size>60,30</size>
			<fg>#FFFFFF</fg>
			<bg>#000000</bg>
		</object>
		<object class="wmButton" name="ID_M_PBTN5" variable="m_pbtnRange" member="yes">
			<label>40dB</label>
			<pos>260,2</pos>
			<size>60,30</size>
			<bg>#0B778A</bg>
		</object>
		<object class="wmButton" name="ID_M_PBTN11" variable="m_pbtnCursor" member="yes">
			<label>Cursor</label>
			<toggle_look>1</toggle_look>
			<toggle_left>Off</toggle_left>
			<toggle_right>On</toggle_right>
			<toggle_percent>50</toggle_percent>
			<pos>400,2</pos>
			<size>120,30</size>
			<bg>#0B778A</bg>
		</object>
		<object class="wmButton" name="ID_M_PBTN10" variable="m_pbtnBins" member="yes">
			<label>Bins</label>
			<pos>127,2</pos>
			<size>60,30</size>
			<bg>#0CA313</bg>
		</object>
		<object class="wmLabel" name="ID_M_PLBL2" variable="m_pLbl2" member="yes">
			<label>Routing:</label>
			<pos>390,445</pos>
			<size>60,30</size>
			<fg>#FFFFFF</fg>
			<bg>#000000</bg>
		</object>
		<object class="wmButton" name="ID_M_PBTN9" variable="m_pbtnChannelA" member="yes">
			<label>Left</label>
			<pos>450,445</pos>
			<size>60,30</size>
			<bg>#5403DA</bg>
		</object>
		<object class="wmButton" name="ID_M_PBTN8" variable="m_pbtnChannelB" member="yes">
			<label>Right</label>
			<pos>511,445</pos>
			<size>60,30</size>
			<bg>#5403DA</bg>
		</object>
		<object class="wmButton" name="ID_M_PBTN7" variable="m_pbtnReset" member="yes">
			<label>Reset</label>
			<pos>700,445</pos>
			<size>90,30</size>
			<bg>#DA5403</bg>
			<handler function="OnbtnResetClick" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
