<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="InputAlignPanel">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wmLabel" name="ID_M_PLBL37" variable="m_pLbl12" member="yes">
			<label>Audio Input Alignment</label>
			<pos>0,0</pos>
			<size>600,40</size>
			<fg>#FFFFFF</fg>
			<bg>#5B9539</bg>
			<font>
				<size>12</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Arial</face>
			</font>
		</object>
		<object class="wmLabel" name="ID_M_PLBL1" variable="m_pLbl1" member="yes">
			<label>Set expected input level in -dBFS</label>
			<pos>10,220</pos>
			<size>238,25</size>
			<fg>#FFFFFF</fg>
			<bg>#804000</bg>
			<font>
				<size>10</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Arial</face>
			</font>
		</object>
		<object class="wmEdit" name="ID_M_PEDT1" variable="m_pedtInputLevel" member="yes">
			<validation>Real</validation>
			<border>uiRect::BORDER_FLAT</border>
			<border_focused>uiRect::BORDER_DOWN</border_focused>
			<background_focused>#FFFFFF</background_focused>
			<foreground_focused>#000000</foreground_focused>
			<pos>255,220</pos>
			<size>120,25</size>
			<focused>1</focused>
			<fg>#000000</fg>
			<bg>#FFFFFF</bg>
		</object>
		<object class="wmButton" name="ID_M_PBTN1" variable="m_pbtnAlignSelected" member="yes">
			<label>Align Selected Channel</label>
			<pos>255,250</pos>
			<size>120,50</size>
			<handler function="OnbtnAlignSelectedClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmButton" name="ID_M_PBTN2" variable="m_pbtnAlignAll" member="yes">
			<label>Align All Channels</label>
			<pos>255,310</pos>
			<size>120,50</size>
			<handler function="OnbtnAlignAllClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmKeyboard" name="ID_M_PKBD1" variable="m_pKbd1" member="yes">
			<type>Calc</type>
			<pos>10,250</pos>
			<size>240,200</size>
			<fg>#FFFFFF</fg>
			<font>
				<size>10</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Arial</face>
			</font>
		</object>
		<object class="wmLabel" name="ID_M_PLBL5" variable="m_pLbl4" member="yes">
			<label>Choose Channel</label>
			<pos>10,50</pos>
			<size>340,25</size>
			<fg>#FFFFFF</fg>
			<bg>#804000</bg>
			<font>
				<size>10</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Arial</face>
			</font>
		</object>
		<object class="wmList" name="ID_M_PLST2" variable="m_plstChannel1" member="yes">
			<scrolling>None</scrolling>
			<button_size>-1,30</button_size>
			<columns>8</columns>
			<items />
			<pos>10,77</pos>
			<size>340,32</size>
			<bg>#000000</bg>
			<style>wmList::STYLE_SELECT</style>
			<handler function="OnlstChannelSelected" entry="EVT_LIST_SELECTED" />
		</object>
		<object class="wmLabel" name="ID_M_PLBL2" variable="m_pLbl2" member="yes">
			<label>Current Level</label>
			<pos>10,115</pos>
			<size>100,0</size>
			<fg>#FFFFFF</fg>
			<bg>#400080</bg>
		</object>
		<object class="wmLabel" name="ID_M_PLBL3" variable="m_plblCurrent" member="yes">
			<label>Label</label>
			<border>uiRect::BORDER_DOWN</border>
			<pos>110,115</pos>
			<size>100,25</size>
			<bg>#FFFFFF</bg>
		</object>
		<object class="wmLabel" name="ID_M_PLBL4" variable="m_pLbl3" member="yes">
			<label>Current Gain</label>
			<pos>10,145</pos>
			<size>100,0</size>
			<fg>#FFFFFF</fg>
			<bg>#400080</bg>
		</object>
		<object class="wmLabel" name="ID_M_PLBL6" variable="m_plblGain" member="yes">
			<label>Label</label>
			<border>uiRect::BORDER_DOWN</border>
			<pos>110,145</pos>
			<size>100,25</size>
			<bg>#FFFFFF</bg>
		</object>
	</object>
</wxsmith>
