*.bak
*.depend
*.layout
*.map
*.o
*.exe
*.so
*.gdb
*.wav
*.dll
/lib/licence.txt
*.res
/sample.log
/user.txt
*.a
*.log
/*.mp3
*.xml
*.txt
*.ini
/lib/*
/bin/*
*.gdb
/gracenote/*
/manifest_creator/wxsmith/manifest_creatordialog.wxs
/pambase/pambase_ui.cbp
/pamlevel/*.tmp
/pamplugin/*.cbplugin
/wxspam/*.save-failed
/wxspam/*.cbplugin
*.zip
/pambase/servicetestApp.cpp
/pambase/servicetestApp.h
/pambase/servicetestMain.cpp
/pambase/servicetestMain.h
/pambase/wxsmith/servicetestdialog.wxs
!CMakeLists.txt
