<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="pamupdateserverDialog">
		<title>PAM Update Web Server</title>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER</style>
		<object class="wxListCtrl" name="ID_LISTCTRL1" variable="m_plstLog" member="yes">
			<pos>160,256</pos>
			<style>wxLC_REPORT</style>
		</object>
	</object>
</wxsmith>
