<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlDisplay">
		<bg>#000000</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wmList" name="ID_M_PLST24" variable="m_plstTimeframe" member="yes">
			<scrolling>None</scrolling>
			<button_gap>2,2</button_gap>
			<button_size>-1,35</button_size>
			<columns>3</columns>
			<items />
			<pos>0,25</pos>
			<size>190,80</size>
			<bg>#000000</bg>
			<style>wmList::STYLE_SELECT</style>
			<handler function="OnlstTimeframeSelected" entry="EVT_LIST_SELECTED" />
		</object>
		<object class="wmLabel" name="ID_M_PLBL2" variable="m_pLbl2" member="yes">
			<label>Refresh Rate</label>
			<pos>0,105</pos>
			<size>200,25</size>
			<fg>#FFFFFF</fg>
			<bg>#408080</bg>
		</object>
		<object class="wmList" name="ID_M_PLST1" variable="m_plstPoints" member="yes">
			<scrolling>None</scrolling>
			<button_gap>2,2</button_gap>
			<button_size>-1,35</button_size>
			<columns>3</columns>
			<items />
			<pos>0,130</pos>
			<size>190,80</size>
			<bg>#000000</bg>
			<style>wmList::STYLE_SELECT</style>
			<handler function="OnlstPointsSelected" entry="EVT_LIST_SELECTED" />
		</object>
		<object class="wmLabel" name="ID_M_PLBL1" variable="m_pLbl1" member="yes">
			<label>Timespan</label>
			<pos>0,0</pos>
			<size>200,25</size>
			<fg>#FFFFFF</fg>
			<bg>#408080</bg>
		</object>
	</object>
</wxsmith>
