<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="ptpPanel">
		<size>800,480</size>
		<bg>#000000</bg>
		<id_arg>0</id_arg>
		<object class="wmSwitcherPanel" name="ID_M_PSWP2" variable="m_pSwpMain" member="yes">
			<size>800,480</size>
			<style>wmSwitcherPanel::STYLE_NOSWIPE|wmSwitcherPanel::STYLE_NOANIMATION</style>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL14" variable="m_ppnlInfo" member="yes">
					<bg>#000000</bg>
					<object class="wmLabel" name="ID_M_PLBL80" variable="m_pLbl10" member="yes">
						<label>Clocks</label>
						<gradient>wxWEST</gradient>
						<pos>605,5</pos>
						<size>190,25</size>
						<fg>#FFFFFF</fg>
						<bg>#8080C0</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
						</font>
					</object>
					<object class="wmList" name="ID_M_PLST1" variable="m_plstClocks" member="yes">
						<button>#000000</button>
						<button_selected>#FF8000</button_selected>
						<items />
						<pos>605,35</pos>
						<size>190,440</size>
						<bg>wxSYS_COLOUR_BACKGROUND</bg>
						<style>wmList::STYLE_SELECT</style>
						<handler function="OnlstClocksSelected" entry="EVT_LIST_SELECTED" />
					</object>
					<object class="wmLabel" name="ID_M_PLBL79" variable="m_plblDomain" member="yes">
						<label>Domain:</label>
						<gradient>wxWEST</gradient>
						<pos>5,5</pos>
						<size>280,25</size>
						<fg>#FFFFFF</fg>
						<bg>#8080C0</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL1" variable="m_ptitleIdentity" member="yes">
						<label>Port Identitiy</label>
						<border>uiRect::BORDER_FLAT</border>
						<gradient>wxWEST</gradient>
						<pos>5,35</pos>
						<size>100,25</size>
						<fg>#FFFFFF</fg>
						<bg>#5C7AE0</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL2" variable="m_ptitleAddress" member="yes">
						<label>Address</label>
						<gradient>wxWEST</gradient>
						<pos>5,65</pos>
						<size>100,25</size>
						<fg>#FFFFFF</fg>
						<bg>#5C7AE0</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL3" variable="m_ptitleState" member="yes">
						<label>State</label>
						<gradient>wxWEST</gradient>
						<pos>5,95</pos>
						<size>100,25</size>
						<fg>#FFFFFF</fg>
						<bg>#5C7AE0</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL12" variable="m_plblIdentity" member="yes">
						<label></label>
						<border>uiRect::BORDER_DOWN</border>
						<pos>105,35</pos>
						<size>180,25</size>
						<fg>#000000</fg>
						<bg>#FFFFFF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL13" variable="m_pblAddress" member="yes">
						<label></label>
						<border>uiRect::BORDER_DOWN</border>
						<pos>105,65</pos>
						<size>180,25</size>
						<fg>#000000</fg>
						<bg>#FFFFFF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL14" variable="m_plblState" member="yes">
						<label></label>
						<border>uiRect::BORDER_DOWN</border>
						<pos>105,95</pos>
						<size>180,25</size>
						<fg>#000000</fg>
						<bg>#FFFFFF</bg>
					</object>
					<object class="wxPanel" name="ID_PANEL1" variable="m_ppnlAnnouncements" member="yes">
						<pos>5,135</pos>
						<size>280,275</size>
						<bg>#000000</bg>
						<object class="wmLabel" name="ID_M_PLBL30" variable="m_ptitleAnnouncements" member="yes">
							<label>Announcements</label>
							<gradient>wxWEST</gradient>
							<pos>0,0</pos>
							<size>280,25</size>
							<fg>#FFFFFF</fg>
							<bg>#62DB65</bg>
							<font>
								<size>10</size>
								<style>normal</style>
								<weight>bold</weight>
								<underlined>0</underlined>
								<family>swiss</family>
							</font>
						</object>
						<object class="wmLabel" name="ID_M_PLBL24" variable="m_ptitleAnnRate" member="yes">
							<label>Rate</label>
							<gradient>wxWEST</gradient>
							<pos>0,30</pos>
							<size>70,25</size>
							<fg>#FFFFFF</fg>
							<bg>#5C7AE0</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL25" variable="m_plblAnnRate" member="yes">
							<label></label>
							<border>uiRect::BORDER_DOWN</border>
							<pos>70,30</pos>
							<size>70,25</size>
							<fg>#000000</fg>
							<bg>#FFFFFF</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL26" variable="m_ptitleCount" member="yes">
							<label>Count</label>
							<gradient>wxWEST</gradient>
							<pos>140,30</pos>
							<size>70,25</size>
							<fg>#FFFFFF</fg>
							<bg>#5C7AE0</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL27" variable="m_plblAnnCount" member="yes">
							<label></label>
							<border>uiRect::BORDER_DOWN</border>
							<pos>210,30</pos>
							<size>70,25</size>
							<fg>#000000</fg>
							<bg>#FFFFFF</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL4" variable="m_ptitleUtc" member="yes">
							<label>UTC Offset</label>
							<gradient>wxWEST</gradient>
							<pos>140,90</pos>
							<size>70,25</size>
							<fg>#FFFFFF</fg>
							<bg>#5C7AE0</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL15" variable="m_plblUTC" member="yes">
							<label></label>
							<border>uiRect::BORDER_DOWN</border>
							<pos>210,90</pos>
							<size>70,25</size>
							<fg>#000000</fg>
							<bg>#FFFFFF</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL5" variable="m_ptitlePriority1" member="yes">
							<label>Priority 1</label>
							<gradient>wxWEST</gradient>
							<pos>0,60</pos>
							<size>70,25</size>
							<fg>#FFFFFF</fg>
							<bg>#5C7AE0</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL16" variable="m_plblPriority1" member="yes">
							<label></label>
							<border>uiRect::BORDER_DOWN</border>
							<pos>70,60</pos>
							<size>70,25</size>
							<fg>#000000</fg>
							<bg>#FFFFFF</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL7" variable="m_ptitleClass" member="yes">
							<label>Class</label>
							<gradient>wxWEST</gradient>
							<pos>140,60</pos>
							<size>70,25</size>
							<fg>#FFFFFF</fg>
							<bg>#5C7AE0</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL17" variable="m_plblClass" member="yes">
							<label></label>
							<border>uiRect::BORDER_DOWN</border>
							<pos>210,60</pos>
							<size>70,25</size>
							<fg>#000000</fg>
							<bg>#FFFFFF</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL8" variable="m_ptitleAccuracy" member="yes">
							<label>Accuracy</label>
							<gradient>wxWEST</gradient>
							<pos>0,90</pos>
							<size>70,25</size>
							<fg>#FFFFFF</fg>
							<bg>#5C7AE0</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL18" variable="m_plblAccuracy" member="yes">
							<label>Unknown</label>
							<border>uiRect::BORDER_DOWN</border>
							<pos>70,90</pos>
							<size>70,25</size>
							<fg>#000000</fg>
							<bg>#FFFFFF</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL9" variable="m_ptitleVariance" member="yes">
							<label>Variance</label>
							<gradient>wxWEST</gradient>
							<pos>0,120</pos>
							<size>70,25</size>
							<fg>#FFFFFF</fg>
							<bg>#5C7AE0</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL19" variable="m_plblVariance" member="yes">
							<label></label>
							<border>uiRect::BORDER_DOWN</border>
							<pos>70,120</pos>
							<size>70,25</size>
							<fg>#000000</fg>
							<bg>#FFFFFF</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL6" variable="m_ptitlePriority2" member="yes">
							<label>Priority 2</label>
							<gradient>wxWEST</gradient>
							<pos>140,120</pos>
							<size>70,25</size>
							<fg>#FFFFFF</fg>
							<bg>#5C7AE0</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL20" variable="m_plblPriority2" member="yes">
							<label></label>
							<border>uiRect::BORDER_DOWN</border>
							<pos>210,120</pos>
							<size>70,25</size>
							<fg>#000000</fg>
							<bg>#FFFFFF</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL11" variable="m_ptitleSteps" member="yes">
							<label>Steps</label>
							<gradient>wxWEST</gradient>
							<pos>0,150</pos>
							<size>70,25</size>
							<fg>#FFFFFF</fg>
							<bg>#5C7AE0</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL21" variable="m_plblSteps" member="yes">
							<label></label>
							<border>uiRect::BORDER_DOWN</border>
							<pos>70,150</pos>
							<size>70,25</size>
							<fg>#000000</fg>
							<bg>#FFFFFF</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL10" variable="m_ptitleSource" member="yes">
							<label>Source</label>
							<gradient>wxWEST</gradient>
							<pos>140,150</pos>
							<size>70,25</size>
							<fg>#FFFFFF</fg>
							<bg>#5C7AE0</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL35" variable="m_plblTitleMaster" member="yes">
							<label>Master</label>
							<gradient>wxWEST</gradient>
							<pos>0,180</pos>
							<size>70,25</size>
							<fg>#FFFFFF</fg>
							<bg>#5C7AE0</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL39" variable="m_plblMasterId" member="yes">
							<label></label>
							<border>uiRect::BORDER_DOWN</border>
							<pos>70,180</pos>
							<size>210,25</size>
							<fg>#000000</fg>
							<bg>#FFFFFF</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL22" variable="m_plblSource" member="yes">
							<label></label>
							<border>uiRect::BORDER_DOWN</border>
							<pos>210,150</pos>
							<size>70,25</size>
							<fg>#000000</fg>
							<bg>#FFFFFF</bg>
						</object>
						<object class="wxPanel" name="ID_PANEL9" subclass="pnlFlags" variable="m_ppnlAnnounceFlags" member="yes">
							<pos>0,210</pos>
							<size>280,64</size>
						</object>
					</object>
					<object class="wmSwitcherPanel" name="ID_M_PSWP1" variable="m_pswp" member="yes">
						<pos>295,5</pos>
						<size>280,280</size>
						<bg>#000000</bg>
						<style>wmSwitcherPanel::STYLE_NOSWIPE|wmSwitcherPanel::STYLE_NOANIMATION</style>
						<object class="wmSwitcherPanelpage">
							<object class="wxPanel" name="ID_PANEL5" variable="m_ppnlMaster" member="yes">
								<bg>#000000</bg>
								<object class="wxPanel" name="ID_PANEL2" variable="m_ppnlSync" member="yes">
									<pos>0,0</pos>
									<size>280,125</size>
									<bg>#000000</bg>
									<object class="wmLabel" name="ID_M_PLBL23" variable="m_ptitleSync" member="yes">
										<label>Sync</label>
										<gradient>wxWEST</gradient>
										<pos>0,0</pos>
										<size>280,25</size>
										<fg>#FFFFFF</fg>
										<bg>#62DB65</bg>
										<font>
											<size>10</size>
											<style>normal</style>
											<weight>bold</weight>
											<underlined>0</underlined>
											<family>swiss</family>
										</font>
									</object>
									<object class="wmLabel" name="ID_M_PLBL31" variable="m_ptitleSyncRate" member="yes">
										<label>Rate</label>
										<gradient>wxWEST</gradient>
										<pos>0,30</pos>
										<size>50,25</size>
										<fg>#FFFFFF</fg>
										<bg>#5C7AE0</bg>
									</object>
									<object class="wmLabel" name="ID_M_PLBL32" variable="m_plblSyncRate" member="yes">
										<label></label>
										<border>uiRect::BORDER_DOWN</border>
										<pos>50,30</pos>
										<size>50,25</size>
										<fg>#000000</fg>
										<bg>#FFFFFF</bg>
									</object>
									<object class="wmLabel" name="ID_M_PLBL33" variable="m_ptitleSyncCount" member="yes">
										<label>Count</label>
										<gradient>wxWEST</gradient>
										<pos>100,30</pos>
										<size>50,25</size>
										<fg>#FFFFFF</fg>
										<bg>#5C7AE0</bg>
									</object>
									<object class="wmLabel" name="ID_M_PLBL34" variable="m_plblSyncCount" member="yes">
										<label></label>
										<border>uiRect::BORDER_DOWN</border>
										<pos>150,30</pos>
										<size>130,25</size>
										<fg>#000000</fg>
										<bg>#FFFFFF</bg>
									</object>
									<object class="wxPanel" name="ID_PANEL10" subclass="pnlFlags" variable="m_ppnlSyncFlags" member="yes">
										<pos>0,60</pos>
										<size>280,64</size>
									</object>
								</object>
								<object class="wxPanel" name="ID_PANEL3" variable="m_ppnlFollowUp" member="yes">
									<pos>0,130</pos>
									<size>280,125</size>
									<bg>#000000</bg>
									<object class="wmLabel" name="ID_M_PLBL28" variable="m_ptitleFollowUp" member="yes">
										<label>Follow Up</label>
										<gradient>wxWEST</gradient>
										<pos>0,0</pos>
										<size>280,25</size>
										<fg>#FFFFFF</fg>
										<bg>#62DB65</bg>
										<font>
											<size>10</size>
											<style>normal</style>
											<weight>bold</weight>
											<underlined>0</underlined>
											<family>swiss</family>
										</font>
									</object>
									<object class="wmLabel" name="ID_M_PLBL29" variable="m_ptitleFollowRate" member="yes">
										<label>Rate</label>
										<gradient>wxWEST</gradient>
										<pos>0,30</pos>
										<size>50,25</size>
										<fg>#FFFFFF</fg>
										<bg>#5C7AE0</bg>
									</object>
									<object class="wmLabel" name="ID_M_PLBL36" variable="m_plblFollowRate" member="yes">
										<label></label>
										<border>uiRect::BORDER_DOWN</border>
										<pos>50,30</pos>
										<size>50,25</size>
										<fg>#000000</fg>
										<bg>#FFFFFF</bg>
									</object>
									<object class="wmLabel" name="ID_M_PLBL37" variable="m_ptitleFollowCount" member="yes">
										<label>Count</label>
										<gradient>wxWEST</gradient>
										<pos>100,30</pos>
										<size>50,25</size>
										<fg>#FFFFFF</fg>
										<bg>#5C7AE0</bg>
									</object>
									<object class="wmLabel" name="ID_M_PLBL38" variable="m_plblFollowCount" member="yes">
										<label></label>
										<border>uiRect::BORDER_DOWN</border>
										<pos>150,30</pos>
										<size>130,25</size>
										<fg>#000000</fg>
										<bg>#FFFFFF</bg>
									</object>
									<object class="wxPanel" name="ID_PANEL11" subclass="pnlFlags" variable="m_ppnlFollowFlags" member="yes">
										<pos>0,60</pos>
										<size>280,64</size>
									</object>
								</object>
							</object>
							<label>Master</label>
						</object>
						<object class="wmSwitcherPanelpage">
							<object class="wxPanel" name="ID_PANEL6" variable="m_ppnlSlave" member="yes">
								<bg>#000000</bg>
								<object class="wxPanel" name="ID_PANEL4" variable="m_ppnlRequests" member="yes">
									<pos>0,0</pos>
									<size>280,165</size>
									<bg>#000000</bg>
									<object class="wmLabel" name="ID_M_PLBL40" variable="m_ptitleDelay" member="yes">
										<label>Delay Requests</label>
										<gradient>wxWEST</gradient>
										<pos>0,0</pos>
										<size>280,25</size>
										<fg>#FFFFFF</fg>
										<bg>#62DB65</bg>
										<font>
											<size>10</size>
											<style>normal</style>
											<weight>bold</weight>
											<underlined>0</underlined>
											<family>swiss</family>
										</font>
									</object>
									<object class="wmLabel" name="ID_M_PLBL41" variable="m_ptitleDelayRate" member="yes">
										<label>Rate</label>
										<gradient>wxWEST</gradient>
										<pos>0,30</pos>
										<size>70,25</size>
										<fg>#FFFFFF</fg>
										<bg>#5C7AE0</bg>
									</object>
									<object class="wmLabel" name="ID_M_PLBL42" variable="m_plblDelayRate" member="yes">
										<label></label>
										<border>uiRect::BORDER_DOWN</border>
										<pos>70,30</pos>
										<size>70,25</size>
										<fg>#000000</fg>
										<bg>#FFFFFF</bg>
									</object>
									<object class="wmLabel" name="ID_M_PLBL43" variable="m_ptitleDelayCount" member="yes">
										<label>Count</label>
										<gradient>wxWEST</gradient>
										<pos>140,30</pos>
										<size>70,25</size>
										<fg>#FFFFFF</fg>
										<bg>#5C7AE0</bg>
									</object>
									<object class="wmLabel" name="ID_M_PLBL44" variable="m_plblDelayCount" member="yes">
										<label></label>
										<border>uiRect::BORDER_DOWN</border>
										<pos>210,30</pos>
										<size>70,25</size>
										<fg>#000000</fg>
										<bg>#FFFFFF</bg>
									</object>
									<object class="wmLabel" name="ID_M_PLBL46" variable="m_ptitleDelayMech" member="yes">
										<label>Mechanism</label>
										<gradient>wxWEST</gradient>
										<pos>0,60</pos>
										<size>70,25</size>
										<fg>#FFFFFF</fg>
										<bg>#5C7AE0</bg>
									</object>
									<object class="wmLabel" name="ID_M_PLBL47" variable="m_plblDelayMech" member="yes">
										<label></label>
										<border>uiRect::BORDER_DOWN</border>
										<pos>70,60</pos>
										<size>210,25</size>
										<fg>#000000</fg>
										<bg>#FFFFFF</bg>
									</object>
									<object class="wxPanel" name="ID_PANEL13" subclass="pnlFlags" variable="m_ppnlRequestFlags" member="yes">
										<pos>0,90</pos>
										<size>280,64</size>
									</object>
								</object>
								<object class="wxPanel" name="ID_PANEL7" variable="m_ppnlResponses" member="yes">
									<pos>0,160</pos>
									<size>280,124</size>
									<bg>#000000</bg>
									<object class="wmLabel" name="ID_M_PLBL48" variable="m_ptitleDelayResponses" member="yes">
										<label>Delay Responses Received</label>
										<gradient>wxWEST</gradient>
										<pos>0,0</pos>
										<size>280,25</size>
										<fg>#FFFFFF</fg>
										<bg>#62DB65</bg>
										<font>
											<size>10</size>
											<style>normal</style>
											<weight>bold</weight>
											<underlined>0</underlined>
											<family>swiss</family>
										</font>
									</object>
									<object class="wmLabel" name="ID_M_PLBL49" variable="m_ptitleResponseRate" member="yes">
										<label>Rate</label>
										<gradient>wxWEST</gradient>
										<pos>0,30</pos>
										<size>70,25</size>
										<fg>#FFFFFF</fg>
										<bg>#5C7AE0</bg>
									</object>
									<object class="wmLabel" name="ID_M_PLBL50" variable="m_plblResponseRate" member="yes">
										<label></label>
										<border>uiRect::BORDER_DOWN</border>
										<pos>70,30</pos>
										<size>70,25</size>
										<fg>#000000</fg>
										<bg>#FFFFFF</bg>
									</object>
									<object class="wmLabel" name="ID_M_PLBL51" variable="m_ptitleResponseCount" member="yes">
										<label>Count</label>
										<gradient>wxWEST</gradient>
										<pos>140,30</pos>
										<size>70,25</size>
										<fg>#FFFFFF</fg>
										<bg>#5C7AE0</bg>
									</object>
									<object class="wmLabel" name="ID_M_PLBL52" variable="m_plblResponseCount" member="yes">
										<label></label>
										<border>uiRect::BORDER_DOWN</border>
										<pos>210,30</pos>
										<size>70,25</size>
										<fg>#000000</fg>
										<bg>#FFFFFF</bg>
									</object>
									<object class="wxPanel" name="ID_PANEL12" subclass="pnlFlags" variable="m_ppnlResponseFlags" member="yes">
										<pos>0,60</pos>
										<size>280,64</size>
									</object>
								</object>
							</object>
							<label>Slave</label>
						</object>
					</object>
					<object class="wxPanel" name="ID_PANEL8" variable="m_ppnlLocal" member="yes">
						<pos>295,265</pos>
						<size>280,210</size>
						<bg>#000000</bg>
						<object class="wmLabel" name="ID_M_PLBL54" variable="m_ptitlePam" member="yes">
							<label>PAM</label>
							<gradient>wxWEST</gradient>
							<pos>0,0</pos>
							<size>280,25</size>
							<fg>#FFFFFF</fg>
							<bg>#D98A64</bg>
							<font>
								<size>10</size>
								<style>normal</style>
								<weight>bold</weight>
								<underlined>0</underlined>
								<family>swiss</family>
							</font>
						</object>
						<object class="wmLabel" name="ID_M_PLBL55" variable="m_ptitleTime" member="yes">
							<label>Time</label>
							<gradient>wxWEST</gradient>
							<pos>0,27</pos>
							<size>50,25</size>
							<fg>#FFFFFF</fg>
							<bg>#5C7AE0</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL56" variable="m_plblTime" member="yes">
							<label></label>
							<border>uiRect::BORDER_DOWN</border>
							<pos>50,27</pos>
							<size>230,25</size>
							<fg>#000000</fg>
							<bg>#FFFFFF</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL57" variable="m_ptitleOffsetAverage" member="yes">
							<label>Offset: Average</label>
							<gradient>wxWEST</gradient>
							<pos>0,56</pos>
							<size>100,25</size>
							<fg>#FFFFFF</fg>
							<bg>#5C7AE0</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL61" variable="m_plblOffsetAverage" member="yes">
							<label></label>
							<border>uiRect::BORDER_DOWN</border>
							<pos>100,56</pos>
							<size>180,25</size>
							<fg>#000000</fg>
							<bg>#FFFFFF</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL58" variable="m_ptitleOffsetRange" member="yes">
							<label>Offset: Range</label>
							<gradient>wxWEST</gradient>
							<pos>0,84</pos>
							<size>100,25</size>
							<fg>#FFFFFF</fg>
							<bg>#5C7AE0</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL62" variable="m_plblOffsetRange" member="yes">
							<label></label>
							<border>uiRect::BORDER_DOWN</border>
							<pos>100,84</pos>
							<size>180,25</size>
							<fg>#000000</fg>
							<bg>#FFFFFF</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL59" variable="m_ptitleDelayAverage" member="yes">
							<label>Delay: Average</label>
							<gradient>wxWEST</gradient>
							<pos>0,112</pos>
							<size>100,25</size>
							<fg>#FFFFFF</fg>
							<bg>#5C7AE0</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL63" variable="m_plblDelayAverage" member="yes">
							<label></label>
							<border>uiRect::BORDER_DOWN</border>
							<pos>100,112</pos>
							<size>180,25</size>
							<fg>#000000</fg>
							<bg>#FFFFFF</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL60" variable="m_ptitleDelayRange" member="yes">
							<label>Delay: Range</label>
							<gradient>wxWEST</gradient>
							<pos>0,140</pos>
							<size>100,25</size>
							<fg>#FFFFFF</fg>
							<bg>#5C7AE0</bg>
						</object>
						<object class="wmLabel" name="ID_M_PLBL64" variable="m_plblDelayRange" member="yes">
							<label></label>
							<border>uiRect::BORDER_DOWN</border>
							<pos>100,140</pos>
							<size>180,25</size>
							<fg>#000000</fg>
							<bg>#FFFFFF</bg>
						</object>
						<object class="wmButton" name="ID_M_PBTN29" variable="m_pbtnGraphs" member="yes">
							<label>Graphs</label>
							<button_pressed>#800000</button_pressed>
							<pos>5,170</pos>
							<size>130,35</size>
							<fg>#008000</fg>
							<bg>#FFFFFF</bg>
							<font>
								<size>10</size>
								<style>normal</style>
								<weight>bold</weight>
								<underlined>0</underlined>
								<family>swiss</family>
							</font>
							<style>wmButton::STYLE_NORMAL</style>
							<handler function="OnbtnGraphsClick" entry="EVT_BUTTON" />
						</object>
						<object class="wmButton" name="ID_M_PBTN5" variable="m_pbtnHistogram" member="yes">
							<label>Histogram</label>
							<button_pressed>#800000</button_pressed>
							<pos>145,170</pos>
							<size>130,35</size>
							<fg>#008000</fg>
							<bg>#FFFFFF</bg>
							<font>
								<size>10</size>
								<style>normal</style>
								<weight>bold</weight>
								<underlined>0</underlined>
								<family>swiss</family>
							</font>
							<style>wmButton::STYLE_NORMAL</style>
							<handler function="OnbtnHistogramClick" entry="EVT_BUTTON" />
						</object>
					</object>
				</object>
				<label>Info</label>
			</object>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL15" variable="m_ppnlGraphs" member="yes">
					<bg>#000000</bg>
					<object class="wmLabel" name="ID_M_PLBL45" variable="m_plblGraphTitle" member="yes">
						<label></label>
						<pos>0,0</pos>
						<size>800,30</size>
						<fg>#FFFFFF</fg>
						<bg>#5B9539</bg>
						<font>
							<size>12</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL69" variable="m_pLbl5" member="yes">
						<label>Current:</label>
						<pos>0,30</pos>
						<size>50,30</size>
						<fg>#FFFFFF</fg>
						<bg>#000000</bg>
						<font>
							<size>8</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Tahoma</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL74" variable="m_plblCurrent" member="yes">
						<label></label>
						<pos>50,30</pos>
						<size>80,30</size>
						<fg>#BAFEA7</fg>
						<bg>#000000</bg>
						<font>
							<size>8</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Tahoma</face>
						</font>
						<style>wxALIGN_LEFT</style>
					</object>
					<object class="wmLabel" name="ID_M_PLBL70" variable="m_pLbl6" member="yes">
						<label>Mean:</label>
						<pos>140,30</pos>
						<size>50,30</size>
						<fg>#FFFFFF</fg>
						<bg>#000000</bg>
						<font>
							<size>8</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Tahoma</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL75" variable="m_plblMean" member="yes">
						<label></label>
						<pos>190,30</pos>
						<size>80,30</size>
						<fg>#BAFEA7</fg>
						<bg>#000000</bg>
						<font>
							<size>8</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Tahoma</face>
						</font>
						<style>wxALIGN_LEFT</style>
					</object>
					<object class="wmLabel" name="ID_M_PLBL71" variable="m_pLbl7" member="yes">
						<label>SD:</label>
						<pos>280,30</pos>
						<size>50,30</size>
						<fg>#FFFFFF</fg>
						<bg>#000000</bg>
						<font>
							<size>8</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Tahoma</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL76" variable="m_plblDeviation" member="yes">
						<label></label>
						<pos>330,30</pos>
						<size>80,30</size>
						<fg>#BAFEA7</fg>
						<bg>#000000</bg>
						<font>
							<size>8</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Tahoma</face>
						</font>
						<style>wxALIGN_LEFT</style>
					</object>
					<object class="wmLabel" name="ID_M_PLBL72" variable="m_pLbl8" member="yes">
						<label>Slope:</label>
						<pos>420,30</pos>
						<size>50,30</size>
						<fg>#FFFFFF</fg>
						<bg>#000000</bg>
						<font>
							<size>8</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Tahoma</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL77" variable="m_plblSlope" member="yes">
						<label></label>
						<pos>470,30</pos>
						<size>80,30</size>
						<fg>#BAFEA7</fg>
						<bg>#000000</bg>
						<font>
							<size>8</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Tahoma</face>
						</font>
						<style>wxALIGN_LEFT</style>
					</object>
					<object class="wmLabel" name="ID_M_PLBL73" variable="m_pLbl9" member="yes">
						<label>Est:</label>
						<pos>560,30</pos>
						<size>50,30</size>
						<fg>#FFFFFF</fg>
						<bg>#000000</bg>
						<font>
							<size>8</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Tahoma</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL78" variable="m_plblPrediction" member="yes">
						<label></label>
						<pos>610,30</pos>
						<size>80,30</size>
						<fg>#BAFEA7</fg>
						<bg>#000000</bg>
						<font>
							<size>8</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Tahoma</face>
						</font>
						<style>wxALIGN_LEFT</style>
					</object>
					<object class="Custom" name="ID_HISTORY_GRAPH" subclass="HistoryGraph" variable="m_pHistoryGraph" member="yes">
						<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE));</creating_code>
						<include_file>historygraph.h</include_file>
						<local_include>1</local_include>
						<style></style>
						<pos>0,60</pos>
						<size>800,370</size>
					</object>
					<object class="wmLabel" name="ID_M_PLBL68" variable="m_pLbl4" member="yes">
						<label>Data</label>
						<pos>10,445</pos>
						<size>60,30</size>
						<fg>#FFFFFF</fg>
						<bg>#5B9539</bg>
						<font>
							<size>8</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Tahoma</face>
						</font>
					</object>
					<object class="wmList" name="ID_M_PLST5" variable="m_plstGraphData" member="yes">
						<scrolling>None</scrolling>
						<button_size>-1,30</button_size>
						<columns>2</columns>
						<items />
						<pos>70,443</pos>
						<size>120,34</size>
						<bg>#000000</bg>
						<style>wmList::STYLE_SELECT</style>
						<handler function="OnlstDataSelected" entry="EVT_LIST_SELECTED" />
					</object>
					<object class="wmButton" name="ID_M_PBTN8" variable="m_pbtnClearStats" member="yes">
						<label>Clear All</label>
						<pos>498,445</pos>
						<size>70,30</size>
						<handler function="OnbtnClearStatsClick" entry="EVT_BUTTON" />
					</object>
					<object class="wmButton" name="ID_M_PBTN3" variable="m_pbtnGraphClear" member="yes">
						<label>Clear All</label>
						<pos>570,445</pos>
						<size>70,30</size>
						<handler function="OnbtnClearClick" entry="EVT_BUTTON" />
					</object>
					<object class="wmButton" name="ID_M_PBTN7" variable="m_pbtnGraphHisto" member="yes">
						<label>Histo</label>
						<pos>649,445</pos>
						<size>70,30</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
						</font>
						<handler function="OnbtnHistogramClick" entry="EVT_BUTTON" />
					</object>
					<object class="wmButton" name="ID_M_PBTN4" variable="m_pbtnGraphOptions" member="yes">
						<label>Info</label>
						<pos>720,445</pos>
						<size>70,30</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
						</font>
						<handler function="OnbtnOptionsClick" entry="EVT_BUTTON" />
					</object>
				</object>
				<label>Graphs</label>
			</object>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL16" variable="m_ppnlHistograms" member="yes">
					<bg>#000000</bg>
					<object class="wmLabel" name="ID_M_PLBL53" variable="m_plblHistogramTitle" member="yes">
						<label></label>
						<pos>0,0</pos>
						<size>800,30</size>
						<fg>#FFFFFF</fg>
						<bg>#5B9539</bg>
						<font>
							<size>12</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
					</object>
					<object class="Custom" name="ID_CUSTOM1" subclass="Histogram" variable="m_pHistogram" member="yes">
						<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE));</creating_code>
						<include_file>histogram.h</include_file>
						<local_include>1</local_include>
						<style></style>
						<pos>0,30</pos>
						<size>800,410</size>
						<bg>#000000</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL67" variable="m_pLbl3" member="yes">
						<label>Data</label>
						<pos>10,445</pos>
						<size>60,30</size>
						<fg>#FFFFFF</fg>
						<bg>#5B9539</bg>
						<font>
							<size>8</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Tahoma</face>
						</font>
					</object>
					<object class="wmList" name="ID_M_PLST4" variable="m_plstHistogramData" member="yes">
						<scrolling>None</scrolling>
						<button_size>-1,30</button_size>
						<columns>2</columns>
						<items />
						<pos>70,443</pos>
						<size>120,34</size>
						<bg>#000000</bg>
						<style>wmList::STYLE_SELECT</style>
						<handler function="OnlstDataSelected" entry="EVT_LIST_SELECTED" />
					</object>
					<object class="wmLabel" name="ID_M_PLBL65" variable="m_pLbl1" member="yes">
						<label>Granularity</label>
						<pos>195,445</pos>
						<size>60,30</size>
						<fg>#FFFFFF</fg>
						<bg>#5B9539</bg>
						<font>
							<size>8</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Tahoma</face>
						</font>
					</object>
					<object class="wmList" name="ID_M_PLST2" variable="m_plstHistogramGranularity" member="yes">
						<scrolling>None</scrolling>
						<button_size>-1,30</button_size>
						<columns>3</columns>
						<items />
						<pos>255,443</pos>
						<size>120,34</size>
						<bg>#000000</bg>
						<handler function="OnlstHistogramGranularitySelected" entry="EVT_LIST_SELECTED" />
					</object>
					<object class="wmLabel" name="ID_M_PLBL66" variable="m_pLbl2" member="yes">
						<label>Resolution</label>
						<pos>380,445</pos>
						<size>60,30</size>
						<fg>#FFFFFF</fg>
						<bg>#5B9539</bg>
						<font>
							<size>8</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Tahoma</face>
						</font>
					</object>
					<object class="wmList" name="ID_M_PLST3" variable="m_plstHistogramResolution" member="yes">
						<scrolling>None</scrolling>
						<button_size>-1,30</button_size>
						<columns>3</columns>
						<items />
						<pos>440,443</pos>
						<size>120,34</size>
						<bg>#000000</bg>
						<handler function="OnlstHistogramResolutionSelected" entry="EVT_LIST_SELECTED" />
					</object>
					<object class="wmButton" name="ID_M_PBTN1" variable="m_pbtnHistogramClear" member="yes">
						<label>Clear All</label>
						<pos>570,445</pos>
						<size>70,30</size>
						<handler function="OnbtnClearClick" entry="EVT_BUTTON" />
					</object>
					<object class="wmButton" name="ID_M_PBTN6" variable="m_pbtnHistGraphs" member="yes">
						<label>Graphs</label>
						<pos>649,445</pos>
						<size>70,30</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
						</font>
						<handler function="OnbtnGraphsClick" entry="EVT_BUTTON" />
					</object>
					<object class="wmButton" name="ID_M_PBTN2" variable="m_pbtnOptions" member="yes">
						<label>Info</label>
						<pos>720,445</pos>
						<size>70,30</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
						</font>
						<handler function="OnbtnOptionsClick" entry="EVT_BUTTON" />
					</object>
				</object>
				<label>Histograms</label>
			</object>
		</object>
	</object>
</wxsmith>
