<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlRouting">
		<bg>#000000</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wmLabel" name="ID_M_PLBL2" variable="m_pLbl2" member="yes">
			<label>Y Axis</label>
			<pos>0,125</pos>
			<size>200,20</size>
			<fg>#FFFFFF</fg>
			<bg>#00A800</bg>
		</object>
		<object class="wmList" name="ID_M_PLST1" variable="m_plstY" member="yes">
			<scrolling>None</scrolling>
			<button_size>-1,30</button_size>
			<columns>4</columns>
			<items />
			<pos>0,145</pos>
			<size>200,62</size>
			<bg>#000000</bg>
			<style>wmList::STYLE_SELECT</style>
			<handler function="OnlstYSelected" entry="EVT_LIST_SELECTED" />
		</object>
		<object class="wmList" name="ID_M_PLST2" variable="m_plstX" member="yes">
			<scrolling>None</scrolling>
			<button_size>-1,30</button_size>
			<columns>4</columns>
			<items />
			<pos>0,60</pos>
			<size>200,62</size>
			<bg>#000000</bg>
			<style>wmList::STYLE_SELECT</style>
			<handler function="OnlstXSelected" entry="EVT_LIST_SELECTED" />
		</object>
		<object class="wmLabel" name="ID_M_PLBL1" variable="m_pLbl1" member="yes">
			<label>X Axis</label>
			<pos>0,40</pos>
			<size>200,20</size>
			<fg>#FFFFFF</fg>
			<bg>#A80000</bg>
		</object>
		<object class="wmList" name="ID_M_PLST3" variable="m_plstMonitor" member="yes">
			<scrolling>None</scrolling>
			<button_gap>2,1</button_gap>
			<button_size>-1,30</button_size>
			<columns>3</columns>
			<button>#0000A0</button>
			<button_selected>#FF8000</button_selected>
			<items />
			<pos>0,0</pos>
			<size>200,35</size>
			<bg>#000000</bg>
			<style>wmList::STYLE_SELECT</style>
			<handler function="OnlstMonitorSelected" entry="EVT_LIST_SELECTED" />
		</object>
	</object>
</wxsmith>
