<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="pamupdatemanagerDialog">
		<size>800,480</size>
		<bg>#000000</bg>
		<font>
			<size>12</size>
			<style>normal</style>
			<weight>normal</weight>
			<underlined>0</underlined>
			<family>swiss</family>
			<face>Tahoma</face>
		</font>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxNO_BORDER</style>
		<object class="wmLabel" name="ID_M_PLBL37" variable="m_plblSettings" member="yes">
			<label>Available Updates</label>
			<pos>0,0</pos>
			<size>800,40</size>
			<fg>#FFFFFF</fg>
			<bg>#3D9292</bg>
			<font>
				<size>12</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Arial</face>
			</font>
		</object>
		<object class="wmButton" name="ID_M_PBTN1" variable="m_pbtnClose" member="yes">
			<label>Close Update Manager</label>
			<pos>650,425</pos>
			<size>120,50</size>
			<handler function="OnbtnCloseClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmButton" name="ID_M_PBTN6" variable="m_pbtnSelectAll" member="yes">
			<label>Select All</label>
			<pos>650,50</pos>
			<size>120,50</size>
			<bg>#B0B0B0</bg>
			<handler function="OnbtnSelectAllClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmButton" name="ID_M_PBTN5" variable="m_pbtnSelectNone" member="yes">
			<label>Deselect All</label>
			<pos>650,105</pos>
			<size>120,50</size>
			<bg>#B0B0B0</bg>
			<handler function="OnbtnSelectNoneClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmButton" name="ID_M_PBTN4" variable="m_pbtnUpdate" member="yes">
			<label>Update Selected</label>
			<button_pressed>#008040</button_pressed>
			<button_disabled>#808080</button_disabled>
			<pos>650,360</pos>
			<size>120,50</size>
			<enabled>0</enabled>
			<bg>#008000</bg>
			<handler function="OnbtnUpdateClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmButton" name="ID_M_PBTN2" variable="m_pbtnChangelog" member="yes">
			<label>View Changelog</label>
			<button_pressed>#FF8000</button_pressed>
			<button_disabled>#808080</button_disabled>
			<pos>650,180</pos>
			<size>120,50</size>
			<enabled>0</enabled>
			<bg>#007D7D</bg>
			<style>wmButton::STYLE_SELECT</style>
			<handler function="OnbtnChangelogClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmButton" name="ID_M_PBTN3" variable="m_pbtnDependencies" member="yes">
			<label>View Dependencies</label>
			<button_pressed>#FF8000</button_pressed>
			<button_disabled>#808080</button_disabled>
			<pos>650,240</pos>
			<size>120,50</size>
			<enabled>0</enabled>
			<bg>#007D7D</bg>
			<style>wmButton::STYLE_SELECT</style>
			<handler function="OnbtnDependenciesClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmSwitcherPanel" name="ID_M_PSWP1" variable="m_pswpMain" member="yes">
			<pos>0,45</pos>
			<size>650,430</size>
			<style>wmSwitcherPanel::STYLE_NOSWIPE|wmSwitcherPanel::STYLE_NOANIMATION</style>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<bg>#000000</bg>
					<object class="wmLabel" name="ID_M_PLBL1" variable="m_pLbl1" member="yes">
						<label>Name</label>
						<pos>2,0</pos>
						<size>158,30</size>
						<fg>#FFFFFF</fg>
						<bg>#000080</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL4" variable="m_pLbl4" member="yes">
						<label>Type</label>
						<pos>162,0</pos>
						<size>158,30</size>
						<fg>#FFFFFF</fg>
						<bg>#000080</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL2" variable="m_pLbl2" member="yes">
						<label>Current Version</label>
						<pos>322,0</pos>
						<size>158,30</size>
						<fg>#FFFFFF</fg>
						<bg>#000080</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL3" variable="m_pLbl3" member="yes">
						<label>Available Version</label>
						<pos>482,0</pos>
						<size>158,30</size>
						<fg>#FFFFFF</fg>
						<bg>#000080</bg>
					</object>
					<object class="wmList" name="ID_M_PLST1" variable="m_plstUpdates" member="yes">
						<button_gap>2,1</button_gap>
						<button_size>-1,30</button_size>
						<columns>4</columns>
						<item_border>Flat</item_border>
						<button>#FFFFFF</button>
						<button_pressed>#0080FF</button_pressed>
						<button_selected>#0080C0</button_selected>
						<text>#000000</text>
						<items />
						<pos>0,30</pos>
						<size>645,400</size>
						<bg>#000000</bg>
						<style>wmList::STYLE_SELECT|wmList::STYLE_SELECT_MULTI|wmList::STYLE_SELECT_ROW</style>
						<handler function="Onm_plstUpdatesSelected" entry="EVT_LIST_SELECTED" />
					</object>
				</object>
				<label>List</label>
			</object>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
					<object class="wxHtmlWindow" name="ID_HTMLWINDOW1" subclass="wxTouchScreenHtml" variable="m_phtmlChangelog" member="yes">
						<pos>0,0</pos>
						<size>650,430</size>
						<style>0</style>
					</object>
				</object>
				<label>Changelog</label>
			</object>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes">
					<object class="wxHtmlWindow" name="ID_HTMLWINDOW2" subclass="wxTouchScreenHtml" variable="m_phtmlDependencies" member="yes">
						<pos>0,0</pos>
						<size>650,430</size>
					</object>
				</object>
				<label>Dependencies</label>
			</object>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL4" variable="Panel4" member="yes">
					<bg>#000000</bg>
					<object class="wmLabel" name="ID_M_PLBL5" variable="m_pLbl5" member="yes">
						<label>Update Log</label>
						<pos>2,0</pos>
						<size>641,30</size>
						<fg>#FFFFFF</fg>
						<bg>#000080</bg>
					</object>
					<object class="wmList" name="ID_M_PLST2" variable="m_plstLog" member="yes">
						<button_gap>2,1</button_gap>
						<button_size>-1,30</button_size>
						<item_border>Flat</item_border>
						<button>#FFFFFF</button>
						<text>#000000</text>
						<items />
						<pos>0,30</pos>
						<size>645,400</size>
						<bg>#000000</bg>
						<handler function="OnlstUpdatesSelected" entry="EVT_LIST_SELECTED" />
					</object>
				</object>
				<label>Log</label>
			</object>
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="m_timerUpdate" member="yes">
			<handler function="OntimerUpdateTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
