<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="pamupdatemanagerDialog">
		<size>800,480</size>
		<bg>#FFFFFF</bg>
		<font>
			<size>12</size>
			<style>normal</style>
			<weight>normal</weight>
			<underlined>0</underlined>
			<family>swiss</family>
			<face>Tahoma</face>
		</font>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxNO_BORDER</style>
		<object class="wmLabel" name="ID_M_PLBL2" variable="m_plblTitle" member="yes">
			<label>PAM Update Manager</label>
			<pos>0,0</pos>
			<size>800,40</size>
			<fg>#FFFFFF</fg>
			<bg>#2D2451</bg>
			<font>
				<size>16</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Arial</face>
			</font>
		</object>
		<object class="wmSwitcherPanel" name="ID_M_PSWP1" variable="m_pswpMain" member="yes">
			<pos>0,40</pos>
			<size>800,400</size>
			<style>wmSwitcherPanel::STYLE_NOSWIPE|wmSwitcherPanel::STYLE_NOANIMATION</style>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL1" variable="m_ppnlProgress" member="yes" />
				<label>Progress</label>
			</object>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL2" variable="m_ppnlRelease" member="yes">
					<size>0,0</size>
					<object class="wmLabel" name="ID_M_PLBL3" variable="m_pLbl2" member="yes">
						<label>Release Notes</label>
						<pos>0,5</pos>
						<size>800,35</size>
						<fg>#FFFFFF</fg>
						<bg>#000000</bg>
						<font>
							<size>16</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
					</object>
				</object>
				<label>Release</label>
				<selected>1</selected>
			</object>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL3" variable="m_ppnlPassword" member="yes">
					<bg>#000000</bg>
					<object class="wmEdit" name="ID_M_PEDT1" variable="m_pedtPassword" member="yes">
						<validation>Alphanumeric</validation>
						<border>uiRect::BORDER_DOWN</border>
						<border_focused>uiRect::BORDER_DOWN</border_focused>
						<background_focused>#FFFFFF</background_focused>
						<foreground_focused>#000000</foreground_focused>
						<pos>110,40</pos>
						<size>600,45</size>
						<bg>#FFFFFF</bg>
						<style>wxTE_PROCESS_ENTER|wxTE_PASSWORD</style>
						<handler function="OnedtPasswordTextEnter" entry="EVT_TEXT_ENTER" />
					</object>
					<object class="wmKeyboard" name="ID_M_PKBD1" variable="m_pkeyboard" member="yes">
						<pos>110,90</pos>
						<fg>#FFFFFF</fg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL1" variable="m_pLbl1" member="yes">
						<label>Enter Password</label>
						<pos>0,5</pos>
						<size>800,35</size>
						<fg>#00FF00</fg>
						<font>
							<size>16</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
					</object>
				</object>
				<label>Password</label>
			</object>
		</object>
		<object class="wmButton" name="ID_M_PBTN4" variable="m_pbtnCancel" member="yes">
			<label>Cancel Update</label>
			<button_pressed>#FF0000</button_pressed>
			<button_disabled>#909090</button_disabled>
			<pos>240,443</pos>
			<size>100,35</size>
			<enabled>0</enabled>
			<bg>#800000</bg>
			<handler function="OnbtnCancelClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmButton" name="ID_M_PBTN1" variable="m_pbtnUpdate" member="yes">
			<label>Update</label>
			<button_pressed>#00FF00</button_pressed>
			<button_disabled>#909090</button_disabled>
			<pos>460,443</pos>
			<size>100,35</size>
			<enabled>0</enabled>
			<bg>#008000</bg>
			<handler function="OnbtnUpdateClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="m_timerUpdate" member="yes">
			<handler function="OntimerUpdateTrigger" entry="EVT_TIMER" />
		</object>
		<object class="wxTimer" name="ID_TIMER2" variable="m_timerStart" member="yes">
			<interval>100</interval>
			<oneshot>1</oneshot>
			<handler function="Onm_timerStartTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
