<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="dlgAoIP">
		<pos>0,0</pos>
		<size>800,480</size>
		<bg>#000000</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxNO_BORDER</style>
		<object class="wxPanel" name="ID_PANEL1" subclass="pnlRTP" variable="m_ppnlRTP" member="yes">
			<pos>0,0</pos>
			<size>800,440</size>
		</object>
		<object class="wmButton" name="ID_M_PBTN7" variable="m_pbtnFinished" member="yes">
			<label>Finished</label>
			<button_disabled>#909090</button_disabled>
			<pos>350,445</pos>
			<size>100,30</size>
			<fg>#000000</fg>
			<bg>#80FF00</bg>
			<style>wmButton::STYLE_NORMAL</style>
			<handler function="OnbtnFinishedClick" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
