<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="dlgEngineering">
		<size>800,480</size>
		<bg>#800000</bg>
		<font>
			<size>14</size>
			<style>normal</style>
			<weight>normal</weight>
			<underlined>0</underlined>
			<family>swiss</family>
			<face>Arial</face>
		</font>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxNO_BORDER</style>
		<object class="wxPanel" name="ID_PANEL1" subclass="wxBitmapPanel" variable="m_pBackground" member="yes">
			<pos>0,0</pos>
			<size>800,480</size>
			<object class="wmButton" name="ID_M_PBTN5" variable="m_pbtnSoundcard" member="yes">
				<label>Set Soundcard</label>
				<pos>10,410</pos>
				<size>100,60</size>
				<bg>#008040</bg>
				<font>
					<size>12</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Arial</face>
				</font>
				<handler function="OnbtnSoundcardClick" entry="EVT_BUTTON" />
			</object>
			<object class="wmButton" name="ID_M_PBTN4" variable="m_pbtnConfig" member="yes">
				<label>Raspi Config</label>
				<pos>120,410</pos>
				<size>100,60</size>
				<hidden>1</hidden>
				<bg>#008040</bg>
				<font>
					<size>12</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Arial</face>
				</font>
				<handler function="OnbtnConfigClick" entry="EVT_BUTTON" />
			</object>
			<object class="wmButton" name="ID_M_PBTN3" variable="m_pbtnFilesystem" member="yes">
				<label>Expand Filesystem</label>
				<pos>230,410</pos>
				<size>100,60</size>
				<hidden>1</hidden>
				<bg>#008040</bg>
				<font>
					<size>12</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Arial</face>
				</font>
				<handler function="OnbtnFilesystemClick" entry="EVT_BUTTON" />
			</object>
			<object class="wmButton" name="ID_M_PBTN2" variable="m_pbtnReset" member="yes">
				<label>Reset Settings</label>
				<pos>340,410</pos>
				<size>100,60</size>
				<bg>#008040</bg>
				<font>
					<size>12</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Arial</face>
				</font>
				<handler function="OnbtnResetClick" entry="EVT_BUTTON" />
			</object>
			<object class="wmButton" name="ID_M_PBTN1" variable="m_pbtnClose" member="yes">
				<label>Close</label>
				<pos>690,410</pos>
				<size>100,60</size>
				<bg>#008040</bg>
				<font>
					<size>12</size>
					<style>normal</style>
					<weight>normal</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Arial</face>
				</font>
				<handler function="OnbtnCloseClick" entry="EVT_BUTTON" />
			</object>
		</object>
	</object>
</wxsmith>
