<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="dlgNoInput">
		<pos>40,400</pos>
		<size>100,50</size>
		<fg>#FF0000</fg>
		<bg>#000000</bg>
		<font>
			<size>24</size>
			<style>normal</style>
			<weight>normal</weight>
			<underlined>0</underlined>
			<family>swiss</family>
			<face>Tahoma</face>
		</font>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxNO_BORDER</style>
		<object class="wmButton" name="ID_M_PBTN1" variable="m_pbtnInput" member="yes">
			<label>No AES! Reset</label>
			<pos>0,0</pos>
			<size>100,50</size>
			<fg>#FFFFFF</fg>
			<bg>#EC0000</bg>
			<font>
				<size>12</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Tahoma</face>
			</font>
			<handler function="OnbtnInputClick" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
