<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="dlgPin">
		<pos>0,0</pos>
		<size>800,480</size>
		<bg>#000000</bg>
		<font>
			<size>16</size>
			<style>normal</style>
			<weight>normal</weight>
			<underlined>0</underlined>
			<family>swiss</family>
			<face>Arial</face>
		</font>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxNO_BORDER</style>
		<object class="wmLabel" name="ID_M_PLBL1" variable="m_pLbl1" member="yes">
			<label>Enter PIN to access Settings</label>
			<pos>10,60</pos>
			<size>780,50</size>
			<fg>#00FF00</fg>
			<font>
				<size>16</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Arial</face>
			</font>
		</object>
		<object class="wmEdit" name="ID_M_PEDT1" variable="m_pedtPin" member="yes">
			<maxlength>8</maxlength>
			<validation>Integer</validation>
			<border>uiRect::BORDER_DOWN</border>
			<border_focused>uiRect::BORDER_DOWN</border_focused>
			<pos>300,150</pos>
			<size>200,50</size>
			<handler function="OnedtPinTextEnter" entry="EVT_TEXT_ENTER" />
		</object>
		<object class="wmKeyboard" name="ID_M_PKBD1" variable="m_pkbd" member="yes">
			<type>Calc</type>
			<pos>200,232</pos>
			<size>440,240</size>
			<fg>#FFFFFF</fg>
		</object>
	</object>
</wxsmith>
