<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="pam2Dialog">
		<title>wxWidgets app</title>
		<pos>0,0</pos>
		<size>800,480</size>
		<bg>#000000</bg>
		<style>wxNO_BORDER</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wmSwitcherPanel" name="ID_M_PSWP3" variable="m_pswpSplash" member="yes">
			<size>800,480</size>
			<style>wmSwitcherPanel::STYLE_NOSWIPE|wmSwitcherPanel::STYLE_NOANIMATION</style>
			<handler function="OnswpSplashPageChanged" entry="EVT_NOTEBOOK_PAGE_CHANGED" />
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL4" variable="pnlSplash" member="yes">
					<bg>#000000</bg>
					<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="m_pbmpSplash" member="yes">
						<bitmap code="wxBitmap(splash_xpm)" />
						<pos>0,0</pos>
						<size>800,480</size>
						<bg>#000000</bg>
						<style>wxNO_BORDER</style>
						<handler function="OnbmpSplashClick" entry="EVT_BUTTON" />
					</object>
				</object>
				<label>Splash</label>
				<selected>1</selected>
			</object>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL3" variable="pnlMain" member="yes">
					<bg>#000000</bg>
					<object class="wmSwitcherPanel" name="ID_M_PSWP1" variable="m_pswpMain" member="yes">
						<pos>0,0</pos>
						<size>600,480</size>
						<style>wmSwitcherPanel::STYLE_NOSWIPE|wmSwitcherPanel::STYLE_NOANIMATION</style>
						<handler function="OnswpMainPageChanged" entry="EVT_NOTEBOOK_PAGE_CHANGED" />
					</object>
					<object class="wxPanel" name="ID_PANEL1" variable="pnlLists" member="yes">
						<pos>600,0</pos>
						<size>200,480</size>
						<bg>#000000</bg>
						<object class="wmSwitcherPanel" name="ID_M_PSWP4" variable="m_pswpScreens" member="yes">
							<pagename>Button</pagename>
							<size>200,480</size>
							<style>wmSwitcherPanel::STYLE_NOSWIPE|wmSwitcherPanel::STYLE_NOANIMATION</style>
							<object class="wmSwitcherPanelpage">
								<object class="wxPanel" name="ID_PANEL5" variable="Panel2" member="yes">
									<bg>#000000</bg>
									<object class="wmList" name="ID_M_PLST1" variable="m_plstScreens" member="yes">
										<scrolling>Horizontal</scrolling>
										<button_gap>5,5</button_gap>
										<button_size>-1,40</button_size>
										<columns>3</columns>
										<button>#008000</button>
										<button_selected>#FF8000</button_selected>
										<items />
										<pos>0,5</pos>
										<size>200,290</size>
										<bg>#000000</bg>
										<style>wmList::STYLE_SELECT</style>
										<handler function="OnlstScreensSelected" entry="EVT_LIST_SELECTED" />
									</object>
									<object class="wmList" name="ID_M_PLST3" variable="m_plstInbuilt" member="yes">
										<scrolling>None</scrolling>
										<button_gap>5,5</button_gap>
										<button_size>-1,40</button_size>
										<columns>3</columns>
										<button>#3DBEAB</button>
										<button_selected>#FF8000</button_selected>
										<text>#000000</text>
										<items />
										<pos>0,295</pos>
										<size>200,44</size>
										<fg>#000000</fg>
										<bg>#000000</bg>
										<style>wmList::STYLE_SELECT</style>
										<handler function="OnlstScreensSelected" entry="EVT_LIST_SELECTED" />
									</object>
									<object class="wxPanel" name="ID_PANEL7" variable="Panel4" member="yes">
										<pos>4,390</pos>
										<size>193,50</size>
										<bg>#FFFFFF</bg>
										<object class="wmButton" name="ID_M_PBTN2" variable="m_pbtnCPU" member="yes">
											<label>Monitor</label>
											<toggle_percent>0</toggle_percent>
											<pos>1,1</pos>
											<size>95,23</size>
											<bg>#000000</bg>
											<style>wmButton::STYLE_SELECT</style>
											<handler function="OnbtnInputClick" entry="EVT_BUTTON" />
										</object>
										<object class="wmLabel" name="ID_M_PLBL4" variable="m_plblNetwork" member="yes">
											<label></label>
											<pos>97,1</pos>
											<size>95,23</size>
											<fg>#FFFFFF</fg>
											<bg>#000000</bg>
										</object>
										<object class="wmButton" name="ID_M_PBTN3" variable="m_pbtnInput" member="yes">
											<label>Input</label>
											<toggle_percent>0</toggle_percent>
											<pos>1,25</pos>
											<size>95,24</size>
											<bg>#008000</bg>
											<style>wmButton::STYLE_SELECT</style>
											<handler function="OnbtnInputClick" entry="EVT_BUTTON" />
										</object>
										<object class="wmLabel" name="ID_M_PLBL2" variable="m_plblOutput" member="yes">
											<label>Output</label>
											<pos>97,25</pos>
											<size>95,24</size>
											<fg>#FFFFFF</fg>
											<bg>#008000</bg>
										</object>
									</object>
									<object class="wmButton" name="ID_M_PBTN1" variable="m_pbtnMonitor" member="yes">
										<label>Monitor</label>
										<button_disabled>#909090</button_disabled>
										<pos>5,345</pos>
										<size>190,37</size>
										<bg>#800080</bg>
										<style>wmButton::STYLE_SELECT</style>
										<handler function="OnbtnMonitorClick" entry="EVT_BUTTON" />
									</object>
								</object>
								<label>Screens</label>
							</object>
							<object class="wmSwitcherPanelpage">
								<object class="wxPanel" name="ID_PANEL6" variable="Panel3" member="yes">
									<bg>#000000</bg>
									<object class="wmList" name="ID_M_PLST2" variable="m_plstOptions" member="yes">
										<scrolling>Horizontal</scrolling>
										<button_gap>5,5</button_gap>
										<button_size>-1,40</button_size>
										<columns>3</columns>
										<button>#000080</button>
										<button_selected>#FF8000</button_selected>
										<items />
										<pos>0,5</pos>
										<size>200,200</size>
										<bg>#000000</bg>
										<style>wmList::STYLE_SELECT</style>
										<handler function="OnplstOptionsSelected" entry="EVT_LIST_SELECTED" />
									</object>
									<object class="wmSwitcherPanel" name="ID_M_PSWP2" variable="m_pswpOptions" member="yes">
										<pos>0,210</pos>
										<size>200,230</size>
										<bg>#000000</bg>
										<style>wmSwitcherPanel::STYLE_NOSWIPE|wmSwitcherPanel::STYLE_NOANIMATION</style>
										<object class="wmSwitcherPanelpage">
											<object class="wxPanel" name="ID_PANEL2" variable="Panel1" member="yes">
												<bg>#000000</bg>
											</object>
											<label>Blank</label>
										</object>
									</object>
								</object>
								<label>Options</label>
							</object>
						</object>
					</object>
				</object>
				<label>Main</label>
			</object>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL8" subclass="pnlAoIPSelection" variable="pnlAoip" member="yes" />
				<label>AoIP</label>
			</object>
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="timerStart" member="yes">
			<interval>10</interval>
			<oneshot>1</oneshot>
			<handler function="OntimerStartTrigger" entry="EVT_TIMER" />
		</object>
		<object class="wxTimer" name="ID_TIMER2" variable="m_timerFile" member="yes">
			<handler function="Onm_timerFileTrigger" entry="EVT_TIMER" />
		</object>
		<object class="wxTimer" name="ID_TIMER3" variable="m_timerIpc" member="yes">
			<interval>1000</interval>
			<handler function="OntimerIpcTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
