<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlAoipManual">
		<bg>#000000</bg>
		<object class="wmLabel" name="ID_M_PLBL8" variable="m_pLbl9" member="yes">
			<label>IP</label>
			<pos>10,15</pos>
			<size>100,40</size>
			<fg>#FFFFFF</fg>
			<bg>#400080</bg>
		</object>
		<object class="wmIpEditPnl" name="ID_M_PIP1" variable="m_pipServer" member="yes">
			<pos>110,15</pos>
			<size>200,40</size>
		</object>
		<object class="wmLabel" name="ID_M_PLBL1" variable="m_pLbl1" member="yes">
			<label>PORT</label>
			<pos>310,15</pos>
			<size>50,40</size>
			<fg>#FFFFFF</fg>
			<bg>#400080</bg>
		</object>
		<object class="wmEdit" name="ID_M_PEDT3" variable="m_pedtPort" member="yes">
			<validation>Integer</validation>
			<border>uiRect::BORDER_DOWN</border>
			<border_focused>uiRect::BORDER_DOWN</border_focused>
			<pos>360,15</pos>
			<size>100,40</size>
		</object>
		<object class="wmLabel" name="ID_M_PLBL2" variable="m_pLbl2" member="yes">
			<label>Sample Rate</label>
			<pos>10,60</pos>
			<size>100,40</size>
			<fg>#FFFFFF</fg>
			<bg>#400080</bg>
		</object>
		<object class="wmButton" name="ID_M_PBTN6" variable="m_pbtnSampleRate" member="yes">
			<label>48000</label>
			<toggle_left>Stop</toggle_left>
			<toggle_right>Start</toggle_right>
			<toggle_percent>50</toggle_percent>
			<pos>110,60</pos>
			<size>92,40</size>
			<fg>#000000</fg>
			<bg>#FFFFFF</bg>
			<style>wmButton::STYLE_NORMAL</style>
			<handler function="OnbtnSampleRateClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmButton" name="ID_M_PBTN1" variable="m_pbtnBits" member="yes">
			<label>Bits</label>
			<toggle_look>1</toggle_look>
			<toggle_left>16</toggle_left>
			<toggle_right>24</toggle_right>
			<toggle_percent>40</toggle_percent>
			<pos>260,60</pos>
			<size>200,40</size>
			<bg>#008000</bg>
			<style>wmButton::STYLE_SELECT</style>
		</object>
		<object class="wmLabel" name="ID_M_PLBL4" variable="m_pLbl4" member="yes">
			<label>Channels</label>
			<pos>10,105</pos>
			<size>100,40</size>
			<fg>#FFFFFF</fg>
			<bg>#400080</bg>
		</object>
		<object class="wmList" name="ID_M_PLST5" variable="m_plstChannels" member="yes">
			<scrolling>None</scrolling>
			<button_gap>5,0</button_gap>
			<columns>8</columns>
			<button>#004040</button>
			<button_selected>#FF8000</button_selected>
			<items />
			<pos>110,105</pos>
			<size>480,40</size>
			<bg>#000000</bg>
			<style>wmList::STYLE_SELECT</style>
		</object>
		<object class="wmKeyboard" name="ID_M_PKBD2" variable="m_pkbd" member="yes">
			<type>Calc</type>
			<pos>10,160</pos>
			<size>240,200</size>
			<fg>#FFFFFF</fg>
			<font>
				<size>10</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Arial</face>
			</font>
		</object>
		<object class="wmButton" name="ID_M_PBTN3" variable="m_pbtnStream" member="yes">
			<label>Receive</label>
			<toggle_look>1</toggle_look>
			<toggle_left>Stop</toggle_left>
			<toggle_right>Start</toggle_right>
			<toggle_percent>40</toggle_percent>
			<pos>300,320</pos>
			<size>268,40</size>
			<bg>#008000</bg>
			<style>wmButton::STYLE_SELECT</style>
			<handler function="OnbtnStreamClick" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
