<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlLog">
		<bg>#000000</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxHtmlWindow" name="ID_HTMLWINDOW1" subclass="wxTouchScreenHtml" variable="m_phtmlLog" member="yes">
			<pos>0,0</pos>
			<size>620,480</size>
			<style>0</style>
		</object>
	</object>
</wxsmith>
