<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlLogControl">
		<bg>#000000</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wmButton" name="ID_M_PBTN1" variable="m_pbtnHome" member="yes">
			<label>Home</label>
			<button_disabled>#909090</button_disabled>
			<pos>5,0</pos>
			<size>90,40</size>
			<bg>#004040</bg>
			<handler function="OnbtnHomeClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmButton" name="ID_M_PBTN2" variable="m_pbtnPageUp" member="yes">
			<label>Page Up</label>
			<button_disabled>#909090</button_disabled>
			<pos>100,0</pos>
			<size>90,40</size>
			<bg>#004040</bg>
			<handler function="OnbtnPageUpClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmButton" name="ID_M_PBTN3" variable="m_pbtnEnd" member="yes">
			<label>End</label>
			<button_disabled>#909090</button_disabled>
			<pos>5,45</pos>
			<size>90,40</size>
			<bg>#004040</bg>
			<handler function="OnbtnEndClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmButton" name="ID_M_PBTN4" variable="m_ptbnPageDown" member="yes">
			<label>Page Down</label>
			<button_disabled>#909090</button_disabled>
			<pos>100,45</pos>
			<size>90,40</size>
			<bg>#004040</bg>
			<handler function="OntbnPageDownClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmButton" name="ID_M_PBTN5" variable="m_pbtnScroll" member="yes">
			<label>Scroll Lock</label>
			<button_pressed>#FF0000</button_pressed>
			<pos>5,95</pos>
			<size>180,40</size>
			<bg>#000080</bg>
			<style>wmButton::STYLE_SELECT</style>
			<handler function="OnbtnScrollClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmButton" name="ID_M_PBTN6" variable="m_ptbnClear" member="yes">
			<label>Clear Log</label>
			<pos>55,140</pos>
			<size>90,40</size>
			<bg>#800000</bg>
			<handler function="OntbnClearClick" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
