<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlNetworkSetup">
		<bg>#000000</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wmButton" name="ID_M_PBTN1" variable="m_pbtnStaticDHCP" member="yes">
			<label>Type</label>
			<pos>0,40</pos>
			<size>200,40</size>
			<bg>#0080C0</bg>
			<style>wmButton::STYLE_SELECT</style>
			<handler function="OntnStaticDHCPClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmLabel" name="ID_M_PLBL1" variable="m_pLbl1" member="yes">
			<label>IP Address</label>
			<pos>0,85</pos>
			<size>100,40</size>
			<fg>#FFFFFF</fg>
			<bg>#400080</bg>
		</object>
		<object class="wmLabel" name="ID_M_PLBL2" variable="m_pLbl2" member="yes">
			<label>Subnet Mask</label>
			<pos>0,130</pos>
			<size>100,40</size>
			<fg>#FFFFFF</fg>
			<bg>#400080</bg>
		</object>
		<object class="wmLabel" name="ID_M_PLBL4" variable="m_pLbl4" member="yes">
			<label>Gateway</label>
			<pos>0,175</pos>
			<size>100,40</size>
			<fg>#FFFFFF</fg>
			<bg>#400080</bg>
		</object>
		<object class="wxPanel" name="ID_PANEL3" subclass="wmipeditpnl" variable="m_ppnlGateway" member="yes">
			<pos>100,175</pos>
			<size>200,40</size>
			<fg>#000000</fg>
			<bg>#FFFFFF</bg>
		</object>
		<object class="wmKeyboard" name="ID_M_PKBD1" variable="m_pkbd" member="yes">
			<type>Calc</type>
			<pos>10,230</pos>
			<size>240,200</size>
			<fg>#FFFFFF</fg>
			<font>
				<size>10</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Arial</face>
			</font>
		</object>
		<object class="wmLabel" name="ID_M_PLBL3" variable="m_pLbl3" member="yes">
			<label>Manage Network Settings</label>
			<pos>0,5</pos>
			<size>600,30</size>
			<fg>#FFFFFF</fg>
			<bg>#004000</bg>
			<font>
				<size>10</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Arial</face>
			</font>
		</object>
		<object class="wmButton" name="ID_M_PBTN3" variable="m_pbtnMask" member="yes">
			<button_disabled>#909090</button_disabled>
			<pos>100,130</pos>
			<size>200,40</size>
			<fg>#000000</fg>
			<bg>#FFFFFF</bg>
			<handler function="OnbtnMaskClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmSwitcherPanel" name="ID_M_PSWP1" variable="m_pSwp1" member="yes">
			<pos>310,85</pos>
			<size>280,340</size>
			<style>wmSwitcherPanel::STYLE_NOSWIPE|wmSwitcherPanel::STYLE_NOANIMATION</style>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<bg>#000000</bg>
					<object class="wmLabel" name="ID_M_PLBL5" variable="m_plblResult" member="yes">
						<label>Gateway</label>
						<pos>0,145</pos>
						<size>280,200</size>
						<fg>#FF0000</fg>
						<bg>#000000</bg>
						<font>
							<size>12</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
						<extra_code>m__plblResult-&gt;SetTextAlign(wxALIGN__LEFT | wxALIGN__TOP);</extra_code>
					</object>
					<object class="wmButton" name="ID_M_PBTN2" variable="m_pbtnApply" member="yes">
						<label>Apply</label>
						<pos>0,90</pos>
						<size>100,40</size>
					</object>
				</object>
				<label>Page1</label>
			</object>
		</object>
		<object class="wxPanel" name="ID_PANEL2" subclass="wmipeditpnl" variable="m_ppnlAddress" member="yes">
			<pos>100,85</pos>
			<size>200,40</size>
			<fg>#000000</fg>
			<bg>#FFFFFF</bg>
		</object>
	</object>
</wxsmith>
