<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlRTCPTransmission">
		<size>800,480</size>
		<bg>#000000</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxPanel" name="ID_PANEL2" variable="pnlQoS" member="yes">
			<pos>0,40</pos>
			<size>600,440</size>
			<bg>#000000</bg>
			<object class="wmLabel" name="ID_M_PLBL8" variable="m_pLbl5" member="yes">
				<label>First RR</label>
				<pos>5,5</pos>
				<size>167,20</size>
				<fg>#FFFFFF</fg>
				<bg>#0000FF</bg>
			</object>
			<object class="wmLabel" name="ID_M_PLBL9" variable="m_pLbl6" member="yes">
				<label>Latest RR</label>
				<pos>173,5</pos>
				<size>167,20</size>
				<fg>#FFFFFF</fg>
				<bg>#0000FF</bg>
			</object>
			<object class="wmLabel" name="ID_M_PLBL10" variable="m_pLbl7" member="yes">
				<label>RR Gap</label>
				<pos>341,5</pos>
				<size>127,20</size>
				<fg>#FFFFFF</fg>
				<bg>#0000FF</bg>
			</object>
			<object class="wmLabel" name="ID_M_PLBL1" variable="m_pLbl1" member="yes">
				<label>SR RR Diff</label>
				<pos>469,5</pos>
				<size>126,20</size>
				<fg>#FFFFFF</fg>
				<bg>#0000FF</bg>
			</object>
			<object class="wmLabel" name="ID_M_PLBL11" variable="m_plblRRFirst" member="yes">
				<label></label>
				<pos>5,26</pos>
				<size>167,25</size>
				<fg>#008000</fg>
				<bg>#FFFFFF</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Consolas</face>
				</font>
			</object>
			<object class="wmLabel" name="ID_M_PLBL13" variable="m_plblRRLast" member="yes">
				<label></label>
				<pos>173,26</pos>
				<size>167,25</size>
				<fg>#008000</fg>
				<bg>#FFFFFF</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Consolas</face>
				</font>
			</object>
			<object class="wmLabel" name="ID_M_PLBL12" variable="m_plblRRGap" member="yes">
				<label></label>
				<pos>341,26</pos>
				<size>127,25</size>
				<fg>#008000</fg>
				<bg>#FFFFFF</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Consolas</face>
				</font>
			</object>
			<object class="wmLabel" name="ID_M_PLBL2" variable="m_plblRRSR" member="yes">
				<label></label>
				<pos>469,26</pos>
				<size>126,25</size>
				<fg>#008000</fg>
				<bg>#FFFFFF</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Consolas</face>
				</font>
			</object>
			<object class="wmLabel" name="ID_M_PLBL3" variable="m_pLbl2" member="yes">
				<label>First Packet</label>
				<pos>5,60</pos>
				<size>147,20</size>
				<fg>#FFFFFF</fg>
				<bg>#0000FF</bg>
			</object>
			<object class="wmLabel" name="ID_M_PLBL4" variable="m_pLbl3" member="yes">
				<label>Latest Packet</label>
				<pos>153,60</pos>
				<size>147,20</size>
				<fg>#FFFFFF</fg>
				<bg>#0000FF</bg>
			</object>
			<object class="wmLabel" name="ID_M_PLBL5" variable="m_pLbl4" member="yes">
				<label>Total Packets</label>
				<pos>301,60</pos>
				<size>147,20</size>
				<fg>#FFFFFF</fg>
				<bg>#0000FF</bg>
			</object>
			<object class="wmLabel" name="ID_M_PLBL6" variable="m_pLbl14" member="yes">
				<label>Lost Packets</label>
				<pos>449,60</pos>
				<size>146,20</size>
				<fg>#FFFFFF</fg>
				<bg>#0000FF</bg>
			</object>
			<object class="wmLabel" name="ID_M_PLBL7" variable="m_plblPacketFirst" member="yes">
				<label></label>
				<pos>5,81</pos>
				<size>147,25</size>
				<fg>#008000</fg>
				<bg>#FFFFFF</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Consolas</face>
				</font>
			</object>
			<object class="wmLabel" name="ID_M_PLBL26" variable="m_plblPacketLatest" member="yes">
				<label></label>
				<pos>153,81</pos>
				<size>147,25</size>
				<fg>#008000</fg>
				<bg>#FFFFFF</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Consolas</face>
				</font>
			</object>
			<object class="wmLabel" name="ID_M_PLBL27" variable="m_plblPacketsTotal" member="yes">
				<label></label>
				<pos>301,81</pos>
				<size>147,25</size>
				<fg>#008000</fg>
				<bg>#FFFFFF</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Consolas</face>
				</font>
			</object>
			<object class="wmLabel" name="ID_M_PLBL28" variable="m_plblPacketsLost" member="yes">
				<label></label>
				<pos>449,81</pos>
				<size>146,25</size>
				<fg>#008000</fg>
				<bg>#FFFFFF</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Consolas</face>
				</font>
			</object>
			<object class="wmLabel" name="ID_M_PLBL14" variable="m_pLbl8" member="yes">
				<label>kBits/s Min</label>
				<pos>5,115</pos>
				<size>194,20</size>
				<fg>#FFFFFF</fg>
				<bg>#0000FF</bg>
			</object>
			<object class="wmLabel" name="ID_M_PLBL15" variable="m_pLbl9" member="yes">
				<label>kBits/s Average</label>
				<pos>200,115</pos>
				<size>199,20</size>
				<fg>#FFFFFF</fg>
				<bg>#0000FF</bg>
			</object>
			<object class="wmLabel" name="ID_M_PLBL16" variable="m_pLbl10" member="yes">
				<label>kBits/s Max</label>
				<pos>400,115</pos>
				<size>195,20</size>
				<fg>#FFFFFF</fg>
				<bg>#0000FF</bg>
			</object>
			<object class="wmLabel" name="ID_M_PLBL17" variable="m_plblKbMin" member="yes">
				<label></label>
				<pos>5,136</pos>
				<size>194,25</size>
				<fg>#008000</fg>
				<bg>#FFFFFF</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Consolas</face>
				</font>
			</object>
			<object class="wmLabel" name="ID_M_PLBL18" variable="m_plblKbAv" member="yes">
				<label></label>
				<pos>200,136</pos>
				<size>199,25</size>
				<fg>#008000</fg>
				<bg>#FFFFFF</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Consolas</face>
				</font>
			</object>
			<object class="wmLabel" name="ID_M_PLBL19" variable="m_plblKbMax" member="yes">
				<label></label>
				<pos>400,136</pos>
				<size>195,25</size>
				<fg>#008000</fg>
				<bg>#FFFFFF</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Consolas</face>
				</font>
			</object>
			<object class="wmLabel" name="ID_M_PLBL20" variable="m_pLbl11" member="yes">
				<label>Packets Lost/s Min</label>
				<pos>5,170</pos>
				<size>194,20</size>
				<fg>#FFFFFF</fg>
				<bg>#0000FF</bg>
			</object>
			<object class="wmLabel" name="ID_M_PLBL21" variable="m_pLbl12" member="yes">
				<label>Packets Lost/s Average</label>
				<pos>200,170</pos>
				<size>199,20</size>
				<fg>#FFFFFF</fg>
				<bg>#0000FF</bg>
			</object>
			<object class="wmLabel" name="ID_M_PLBL22" variable="m_pLbl13" member="yes">
				<label>Packets Lost/s Max</label>
				<pos>400,170</pos>
				<size>195,20</size>
				<fg>#FFFFFF</fg>
				<bg>#0000FF</bg>
			</object>
			<object class="wmLabel" name="ID_M_PLBL23" variable="m_plblPacketsMin" member="yes">
				<label></label>
				<pos>5,191</pos>
				<size>194,25</size>
				<fg>#008000</fg>
				<bg>#FFFFFF</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Consolas</face>
				</font>
			</object>
			<object class="wmLabel" name="ID_M_PLBL24" variable="m_plblPacketsAv" member="yes">
				<label></label>
				<pos>200,191</pos>
				<size>199,25</size>
				<fg>#008000</fg>
				<bg>#FFFFFF</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Consolas</face>
				</font>
			</object>
			<object class="wmLabel" name="ID_M_PLBL25" variable="m_plblPacketsMax" member="yes">
				<label></label>
				<pos>400,191</pos>
				<size>195,25</size>
				<fg>#008000</fg>
				<bg>#FFFFFF</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Consolas</face>
				</font>
			</object>
			<object class="wmLabel" name="ID_M_PLBL32" variable="m_pLbl17" member="yes">
				<label>Jitter</label>
				<pos>5,225</pos>
				<size>194,20</size>
				<fg>#FFFFFF</fg>
				<bg>#0000FF</bg>
			</object>
			<object class="wmLabel" name="ID_M_PLBL85" variable="m_pLbl39" member="yes">
				<label>Current Graph</label>
				<pos>400,225</pos>
				<size>194,20</size>
				<fg>#FFFFFF</fg>
				<bg>#008040</bg>
			</object>
			<object class="wmLabel" name="ID_M_PLBL35" variable="m_plblJitter" member="yes">
				<label></label>
				<pos>5,246</pos>
				<size>194,25</size>
				<fg>#008000</fg>
				<bg>#FFFFFF</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Consolas</face>
				</font>
			</object>
			<object class="wmLabel" name="ID_M_PLBL89" variable="m_pLbl45" member="yes">
				<label>Roundtrip Delay</label>
				<pos>200,225</pos>
				<size>194,20</size>
				<fg>#FFFFFF</fg>
				<bg>#0000FF</bg>
			</object>
			<object class="wmLabel" name="ID_M_PLBL90" variable="m_plblRoundtrip" member="yes">
				<label></label>
				<pos>200,246</pos>
				<size>194,25</size>
				<fg>#008000</fg>
				<bg>#FFFFFF</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Consolas</face>
				</font>
			</object>
			<object class="wmLabel" name="ID_M_PLBL86" variable="m_plblGraph" member="yes">
				<label></label>
				<pos>400,246</pos>
				<size>194,25</size>
				<fg>#008000</fg>
				<bg>#FFFFFF</bg>
				<font>
					<size>10</size>
					<style>normal</style>
					<weight>bold</weight>
					<underlined>0</underlined>
					<family>swiss</family>
					<face>Consolas</face>
				</font>
			</object>
			<object class="wxPanel" name="ID_PANEL4" variable="Panel1" member="yes">
				<pos>0,280</pos>
				<size>600,160</size>
				<bg>#000000</bg>
				<object class="Custom" name="ID_CUSTOM12" subclass="LevelGraph" variable="m_pGraph" member="yes">
					<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID), $(POS),$(SIZE),1,10,0);</creating_code>
					<include_file>levelgraph.h</include_file>
					<local_include>1</local_include>
					<style></style>
					<pos>0,0</pos>
					<size>600,160</size>
					<fg>#0000FF</fg>
					<bg>#000000</bg>
					<maxsize>50,-1</maxsize>
				</object>
			</object>
		</object>
		<object class="wmSwitcherPanel" name="ID_M_PSWP1" variable="m_pswpMain" member="yes">
			<pagename>Button</pagename>
			<pos>600,0</pos>
			<size>200,440</size>
			<style>wmSwitcherPanel::STYLE_NOSWIPE|wmSwitcherPanel::STYLE_NOANIMATION</style>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel2" member="yes">
					<bg>#000000</bg>
					<object class="wmList" name="ID_M_PLST1" variable="m_plstSubscribers" member="yes">
						<scrolling>None</scrolling>
						<button_gap>2,2</button_gap>
						<button_size>-1,30</button_size>
						<columns>2</columns>
						<button_pressed>#8000FF</button_pressed>
						<button_selected>#8000FF</button_selected>
						<items />
						<pos>0,0</pos>
						<size>200,400</size>
						<bg>#000000</bg>
						<style>wmList::STYLE_SELECT</style>
					</object>
				</object>
				<label>Subscribers</label>
			</object>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL6" variable="Panel3" member="yes">
					<bg>#000000</bg>
					<object class="wmList" name="ID_M_PLST2" variable="m_plstOptions" member="yes">
						<scrolling>Horizontal</scrolling>
						<button_gap>5,5</button_gap>
						<button_size>-1,40</button_size>
						<columns>3</columns>
						<button>#000080</button>
						<button_selected>#FF8000</button_selected>
						<items />
						<pos>0,5</pos>
						<size>200,200</size>
						<bg>#000000</bg>
						<style>wmList::STYLE_SELECT</style>
					</object>
					<object class="wmSwitcherPanel" name="ID_M_PSWP2" variable="m_pswpOptions" member="yes">
						<pos>0,210</pos>
						<size>200,230</size>
						<bg>#000000</bg>
						<style>wmSwitcherPanel::STYLE_NOSWIPE|wmSwitcherPanel::STYLE_NOANIMATION</style>
						<object class="wmSwitcherPanelpage">
							<object class="wxPanel" name="ID_PANEL3" variable="Panel4" member="yes">
								<bg>#000000</bg>
							</object>
							<label>Settings</label>
						</object>
					</object>
				</object>
				<label>Options</label>
			</object>
		</object>
		<object class="wmButton" name="ID_M_PBTN1" variable="m_pbtnClose" member="yes">
			<label>Close</label>
			<button_disabled>#909090</button_disabled>
			<pos>610,440</pos>
			<size>180,37</size>
			<bg>#808040</bg>
			<style>wmButton::STYLE_SELECT</style>
			<handler function="OnbtnCloseClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmLabel" name="ID_M_PLBL29" variable="m_plblSubscriber" member="yes">
			<label>127.0.0.1</label>
			<pos>200,0</pos>
			<size>400,40</size>
			<fg>#FFFFFF</fg>
			<bg>#3D9292</bg>
			<font>
				<size>12</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Arial</face>
			</font>
		</object>
		<object class="wmLabel" name="ID_M_PLBL37" variable="m_plblHostname" member="yes">
			<label>RTCP Statistics</label>
			<pos>0,0</pos>
			<size>200,40</size>
			<fg>#FFFFFF</fg>
			<bg>#3D9292</bg>
			<font>
				<size>12</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Arial</face>
			</font>
		</object>
	</object>
</wxsmith>
