<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlSettingsNmos">
		<bg>#000000</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wmLabel" name="ID_M_PLBL8" variable="m_pLbl9" member="yes">
			<label>Node</label>
			<pos>10,12</pos>
			<size>100,40</size>
			<fg>#FFFFFF</fg>
			<bg>#400080</bg>
		</object>
		<object class="wmList" name="ID_M_PLST1" variable="m_plstNode" member="yes">
			<scrolling>None</scrolling>
			<columns>4</columns>
			<items />
			<pos>110,10</pos>
			<size>400,44</size>
			<bg>#000000</bg>
			<handler function="OnlstNodeSelected" entry="EVT_LIST_SELECTED" />
		</object>
		<object class="wmLabel" name="ID_M_PLBL1" variable="m_pLbl1" member="yes">
			<label>Client</label>
			<pos>10,62</pos>
			<size>100,40</size>
			<fg>#FFFFFF</fg>
			<bg>#400080</bg>
		</object>
		<object class="wmList" name="ID_M_PLST2" variable="m_plstClient" member="yes">
			<scrolling>None</scrolling>
			<columns>3</columns>
			<items />
			<pos>110,60</pos>
			<size>400,44</size>
			<enabled>0</enabled>
			<bg>#000000</bg>
			<handler function="OnlstClientSelected" entry="EVT_LIST_SELECTED" />
		</object>
	</object>
</wxsmith>
