<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlSettingsOutput">
		<id_arg>0</id_arg>
		<object class="wmLabel" name="ID_M_PLBL4" variable="m_pLbl4" member="yes">
			<label>Audio Output Device</label>
			<pos>0,0</pos>
			<size>600,30</size>
			<fg>#FFFFFF</fg>
			<bg>#004000</bg>
			<font>
				<size>10</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Arial</face>
			</font>
		</object>
		<object class="wmList" name="ID_M_PLST3" variable="m_plstDestination" member="yes">
			<scrolling>None</scrolling>
			<button_size>100,30</button_size>
			<columns>3</columns>
			<button>#400080</button>
			<button_selected>#FF8000</button_selected>
			<items />
			<pos>0,31</pos>
			<size>600,34</size>
			<style>wmList::STYLE_SELECT</style>
			<handler function="OnlstDestinationSelected" entry="EVT_LIST_SELECTED" />
		</object>
		<object class="wmSwitcherPanel" name="ID_M_PSWP2" variable="m_pswpDestination" member="yes">
			<pos>0,65</pos>
			<size>600,380</size>
			<style>wmSwitcherPanel::STYLE_NOSWIPE|wmSwitcherPanel::STYLE_NOANIMATION</style>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL9" variable="pnlDisabled" member="yes">
					<bg>#000000</bg>
				</object>
				<label>Disabled</label>
			</object>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL10" variable="pnlSoundcard" member="yes">
					<bg>#000000</bg>
					<object class="wmList" name="ID_M_PLST4" variable="m_plstPlayback" member="yes">
						<scrolling>None</scrolling>
						<button_gap>5,1</button_gap>
						<button_size>-1,60</button_size>
						<columns>4</columns>
						<button_selected>#008000</button_selected>
						<items />
						<pos>0,0</pos>
						<size>600,200</size>
						<enabled>0</enabled>
						<bg>#000000</bg>
						<style>wmList::STYLE_SELECT</style>
						<handler function="OnlstPlaybackSelected" entry="EVT_LIST_SELECTED" />
					</object>
					<object class="wmLabel" name="ID_M_PLBL5" variable="m_pLbl5" member="yes">
						<label>Latency</label>
						<pos>0,250</pos>
						<size>80,30</size>
						<fg>#FFFFFF</fg>
						<bg>#909090</bg>
					</object>
					<object class="wmList" name="ID_M_PLST6" variable="m_plstLatency" member="yes">
						<scrolling>None</scrolling>
						<button_gap>5,1</button_gap>
						<button_size>-1,26</button_size>
						<columns>10</columns>
						<button>#008040</button>
						<button_selected>#FF8000</button_selected>
						<items />
						<pos>80,250</pos>
						<size>520,30</size>
						<enabled>0</enabled>
						<bg>#909090</bg>
						<style>wmList::STYLE_SELECT</style>
						<handler function="OnlstLatencySelected" entry="EVT_LIST_SELECTED" />
					</object>
					<object class="wmLabel" name="ID_M_PLBL3" variable="m_pLbl3" member="yes">
						<label>Gain</label>
						<pos>10,300</pos>
						<size>70,30</size>
						<fg>#FFFFFF</fg>
						<bg>#004000</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
					</object>
					<object class="wmSlider" name="ID_M_PSLIDER1" variable="m_plsliderOutputGain" member="yes">
						<label>Slider</label>
						<max>10000</max>
						<start>5000</start>
						<pos>80,300</pos>
						<size>400,30</size>
						<handler function="OnlsliderOutputGainMove" entry="EVT_SLIDER_MOVE" />
					</object>
					<object class="wmLabel" name="ID_M_PLBL10" variable="m_plblOutputGain" member="yes">
						<label></label>
						<pos>480,300</pos>
						<size>70,30</size>
						<fg>#000000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
					</object>
				</object>
				<label>Soundcard</label>
			</object>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL2" variable="pnlAoip" member="yes">
					<object class="wmSwitcherPanel" name="ID_M_PSWP1" variable="m_pswpAoIP" member="yes">
						<size>600,400</size>
						<style>wmSwitcherPanel::STYLE_NOSWIPE|wmSwitcherPanel::STYLE_NOANIMATION</style>
						<object class="wmSwitcherPanelpage">
							<object class="wxPanel" name="ID_PANEL11" variable="pnlAoipSettings" member="yes">
								<bg>#000000</bg>
								<object class="wmLabel" name="ID_M_PLBL1" variable="m_pLbl1" member="yes">
									<label>Destination</label>
									<pos>0,55</pos>
									<size>100,40</size>
									<fg>#FFFFFF</fg>
									<bg>#400080</bg>
								</object>
								<object class="wxPanel" name="ID_PANEL12" subclass="wmipeditpnl" variable="m_ppnlAddress" member="yes">
									<pos>100,55</pos>
									<size>200,40</size>
									<fg>#000000</fg>
									<bg>#FFFFFF</bg>
								</object>
								<object class="wmLabel" name="ID_M_PLBL2" variable="m_pLbl2" member="yes">
									<label>RTP Port</label>
									<pos>300,55</pos>
									<size>50,40</size>
									<fg>#FFFFFF</fg>
									<bg>#400080</bg>
								</object>
								<object class="wmLabel" name="ID_M_PLBL8" variable="m_pLbl9" member="yes">
									<label>RTSP</label>
									<pos>0,10</pos>
									<size>100,40</size>
									<fg>#FFFFFF</fg>
									<bg>#400080</bg>
								</object>
								<object class="wmButton" name="ID_M_PBTN6" variable="m_pbtnRTSP" member="yes">
									<label>eth0</label>
									<button_disabled>#B0B0B0</button_disabled>
									<toggle_left>Stop</toggle_left>
									<toggle_right>Start</toggle_right>
									<toggle_percent>50</toggle_percent>
									<pos>100,10</pos>
									<size>200,40</size>
									<fg>#000000</fg>
									<bg>#FFFFFF</bg>
									<style>wmButton::STYLE_NORMAL</style>
									<handler function="OnbtnRTSPClick" entry="EVT_BUTTON" />
								</object>
								<object class="wmLabel" name="ID_M_PLBL6" variable="m_pLbl6" member="yes">
									<label>Port</label>
									<pos>300,10</pos>
									<size>50,40</size>
									<fg>#FFFFFF</fg>
									<bg>#400080</bg>
								</object>
								<object class="wmEdit" name="ID_M_PEDT3" variable="m_pedtRTSPPort" member="yes">
									<validation>Integer</validation>
									<border>uiRect::BORDER_DOWN</border>
									<border_focused>uiRect::BORDER_DOWN</border_focused>
									<pos>350,10</pos>
									<size>100,40</size>
									<handler function="OnedtRTSPPortText" entry="EVT_TEXT" />
								</object>
								<object class="wmLabel" name="ID_M_PLBL7" variable="m_pLbl7" member="yes">
									<label>Packet Time</label>
									<pos>0,110</pos>
									<size>60,40</size>
									<fg>#FFFFFF</fg>
									<bg>#400080</bg>
								</object>
								<object class="wmButton" name="ID_M_PBTN7" variable="m_pbtnPacketTime" member="yes">
									<label>1 ms</label>
									<button_disabled>#B0B0B0</button_disabled>
									<toggle_left>Stop</toggle_left>
									<toggle_right>Start</toggle_right>
									<toggle_percent>50</toggle_percent>
									<pos>60,110</pos>
									<size>70,40</size>
									<fg>#000000</fg>
									<bg>#FFFFFF</bg>
									<style>wmButton::STYLE_NORMAL</style>
									<handler function="OnbtnPacketTimeClick" entry="EVT_BUTTON" />
								</object>
								<object class="wmEdit" name="ID_M_PEDT2" variable="m_pedtRTPPort" member="yes">
									<validation>Integer</validation>
									<border>uiRect::BORDER_DOWN</border>
									<border_focused>uiRect::BORDER_DOWN</border_focused>
									<pos>350,55</pos>
									<size>100,40</size>
									<handler function="OnedtRTPPortText" entry="EVT_TEXT" />
								</object>
								<object class="wmButton" name="ID_M_PBTN12" variable="m_pbtnRTCP" member="yes">
									<label>RTCP</label>
									<toggle_look>1</toggle_look>
									<toggle_left>Off</toggle_left>
									<toggle_right>On</toggle_right>
									<toggle_percent>50</toggle_percent>
									<pos>455,55</pos>
									<size>135,40</size>
									<bg>#008000</bg>
									<style>wmButton::STYLE_SELECT</style>
									<handler function="OnbtnRTCPClick" entry="EVT_BUTTON" />
								</object>
								<object class="wmButton" name="ID_M_PBTN2" variable="m_pbtnStats" member="yes">
									<label>RTCP Stats</label>
									<pos>358,255</pos>
									<size>135,35</size>
									<bg>#408080</bg>
									<font>
										<size>12</size>
										<style>normal</style>
										<weight>normal</weight>
										<underlined>0</underlined>
										<family>swiss</family>
										<face>Tahoma</face>
									</font>
									<handler function="OnbtnStatsClick" entry="EVT_BUTTON" />
								</object>
								<object class="wmKeyboard" name="ID_M_PKBD2" variable="m_pkbd" member="yes">
									<type>Calc</type>
									<pos>10,174</pos>
									<size>240,200</size>
									<fg>#FFFFFF</fg>
									<font>
										<size>10</size>
										<style>normal</style>
										<weight>bold</weight>
										<underlined>0</underlined>
										<family>swiss</family>
										<face>Arial</face>
									</font>
								</object>
								<object class="wmLabel" name="ID_M_PLBL9" variable="m_pLbl10" member="yes">
									<label>Advertise</label>
									<pos>260,295</pos>
									<size>330,30</size>
									<fg>#FFFFFF</fg>
									<bg>#3D78DA</bg>
									<font>
										<size>10</size>
										<style>normal</style>
										<weight>bold</weight>
										<underlined>0</underlined>
										<family>swiss</family>
									</font>
								</object>
								<object class="wmButton" name="ID_M_PBTN8" variable="m_pbtnDNS" member="yes">
									<label>mDNS-SD</label>
									<toggle_look>1</toggle_look>
									<toggle_left>Off</toggle_left>
									<toggle_right>On</toggle_right>
									<toggle_percent>60</toggle_percent>
									<pos>260,330</pos>
									<size>160,40</size>
									<bg>#3D78DA</bg>
									<style>wmButton::STYLE_SELECT</style>
									<handler function="OnbtnDNSClick" entry="EVT_BUTTON" />
								</object>
								<object class="wmButton" name="ID_M_PBTN9" variable="m_pbtnSAP" member="yes">
									<label>SAP</label>
									<toggle_look>1</toggle_look>
									<toggle_left>Off</toggle_left>
									<toggle_right>On</toggle_right>
									<toggle_percent>60</toggle_percent>
									<pos>430,330</pos>
									<size>160,40</size>
									<bg>#3D78DA</bg>
									<style>wmButton::STYLE_SELECT</style>
									<handler function="OnbtnSAPClick" entry="EVT_BUTTON" />
								</object>
								<object class="wmButton" name="ID_M_PBTN3" variable="m_pbtnStream" member="yes">
									<label>Stream</label>
									<toggle_look>1</toggle_look>
									<toggle_left>On Demand</toggle_left>
									<toggle_right>Always On</toggle_right>
									<toggle_percent>40</toggle_percent>
									<pos>260,175</pos>
									<size>330,35</size>
									<bg>#008000</bg>
									<style>wmButton::STYLE_SELECT</style>
									<handler function="OnbtnStreamClick" entry="EVT_BUTTON" />
								</object>
								<object class="wmButton" name="ID_M_PBTN1" variable="m_pbtnActive" member="yes">
									<label>Server</label>
									<toggle_look>1</toggle_look>
									<toggle_left>Inactive</toggle_left>
									<toggle_right>Active</toggle_right>
									<toggle_percent>40</toggle_percent>
									<pos>260,215</pos>
									<size>330,35</size>
									<bg>#008000</bg>
									<style>wmButton::STYLE_SELECT</style>
									<handler function="OnbtnActiveClick" entry="EVT_BUTTON" />
								</object>
								<object class="wmLabel" name="ID_M_PLBL12" variable="m_pLbl11" member="yes">
									<label>Channels</label>
									<pos>142,110</pos>
									<size>60,40</size>
									<fg>#FFFFFF</fg>
									<bg>#400080</bg>
								</object>
								<object class="wmButton" name="ID_M_PBTN5" variable="m_pbtnChannels" member="yes">
									<label>2</label>
									<button_disabled>#B0B0B0</button_disabled>
									<toggle_left>Stop</toggle_left>
									<toggle_right>Start</toggle_right>
									<toggle_percent>50</toggle_percent>
									<pos>202,110</pos>
									<size>50,40</size>
									<fg>#000000</fg>
									<bg>#FFFFFF</bg>
									<style>wmButton::STYLE_NORMAL</style>
									<handler function="OnbtnChannelsClick" entry="EVT_BUTTON" />
								</object>
								<object class="wmButton" name="ID_M_PBTN13" variable="m_pbtnMapping" member="yes">
									<label>Mapping</label>
									<button_disabled>#B0B0B0</button_disabled>
									<toggle_left>Stop</toggle_left>
									<toggle_right>Start</toggle_right>
									<toggle_percent>50</toggle_percent>
									<pos>253,110</pos>
									<size>60,40</size>
									<fg>#000000</fg>
									<bg>#A3D3D3</bg>
									<style>wmButton::STYLE_NORMAL</style>
									<handler function="OnbtnMappingClick" entry="EVT_BUTTON" />
								</object>
								<object class="wmLabel" name="ID_M_PLBL13" variable="m_pLbl12" member="yes">
									<label>Sample Rate</label>
									<pos>324,110</pos>
									<size>60,40</size>
									<fg>#FFFFFF</fg>
									<bg>#400080</bg>
								</object>
								<object class="wmButton" name="ID_M_PBTN10" variable="m_pbtnSampleRate" member="yes">
									<label>48 kHz</label>
									<button_disabled>#B0B0B0</button_disabled>
									<toggle_left>Stop</toggle_left>
									<toggle_right>Start</toggle_right>
									<toggle_percent>50</toggle_percent>
									<pos>384,110</pos>
									<size>70,40</size>
									<enabled>0</enabled>
									<fg>#000000</fg>
									<bg>#FFFFFF</bg>
									<style>wmButton::STYLE_NORMAL</style>
									<handler function="OnbtnSampleRateClick" entry="EVT_BUTTON" />
								</object>
								<object class="wmButton" name="ID_M_PBTN11" variable="m_pbtnBits" member="yes">
									<label>Bits</label>
									<button_disabled>#606060</button_disabled>
									<toggle_look>1</toggle_look>
									<toggle_left>16</toggle_left>
									<toggle_right>24</toggle_right>
									<toggle_percent>50</toggle_percent>
									<pos>455,110</pos>
									<size>135,40</size>
									<enabled>0</enabled>
									<bg>#008000</bg>
									<style>wmButton::STYLE_SELECT</style>
									<handler function="OnbtnBitsClick" entry="EVT_BUTTON" />
								</object>
								<object class="wmLabel" name="ID_M_PLBL11" variable="m_pLbl8" member="yes">
									<label>RTP Payload</label>
									<pos>455,10</pos>
									<size>70,40</size>
									<fg>#FFFFFF</fg>
									<bg>#400080</bg>
								</object>
								<object class="wmButton" name="ID_M_PBTN4" variable="m_pbtnRtpMap" member="yes">
									<label>96</label>
									<button_disabled>#B0B0B0</button_disabled>
									<toggle_left>Stop</toggle_left>
									<toggle_right>Start</toggle_right>
									<toggle_percent>50</toggle_percent>
									<pos>525,10</pos>
									<size>65,40</size>
									<fg>#000000</fg>
									<bg>#FFFFFF</bg>
									<style>wmButton::STYLE_NORMAL</style>
									<handler function="OnbtnRtpMapClick" entry="EVT_BUTTON" />
								</object>
							</object>
							<label>Settings</label>
						</object>
						<object class="wmSwitcherPanelpage">
							<object class="Custom" name="ID_CHANNEL_MAPPING" subclass="pnlChannelMapping" variable="m_ppnlMapping" member="yes">
								<creating_code>$(THIS) = new $(CLASS)($(PARENT),&quot;Server&quot;,$(ID),$(POS),$(SIZE));</creating_code>
								<include_file>pnlChannelMapping.h</include_file>
								<local_include>1</local_include>
							</object>
							<label>Mapping</label>
						</object>
					</object>
				</object>
				<label>AoIP</label>
			</object>
		</object>
	</object>
</wxsmith>
