<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlTests">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wmSwitcherPanel" name="ID_M_PSWP1" variable="m_pswpTests" member="yes">
			<pos>0,0</pos>
			<size>600,481</size>
			<style>wmSwitcherPanel::STYLE_NOSWIPE|wmSwitcherPanel::STYLE_NOANIMATION</style>
			<handler function="OnswpTestsPageChanged" entry="EVT_NOTEBOOK_PAGE_CHANGED" />
		</object>
	</object>
</wxsmith>
