<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlUpdate">
		<bg>#000000</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wmLabel" name="ID_M_PLBL3" variable="m_pLbl3" member="yes">
			<label>Update</label>
			<pos>0,5</pos>
			<size>600,30</size>
			<fg>#FFFFFF</fg>
			<bg>#004000</bg>
			<font>
				<size>10</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Arial</face>
			</font>
		</object>
		<object class="wxPanel" name="ID_PANEL4" subclass="pnlUSB" variable="m_pnlUSB" member="yes">
			<pos>0,40</pos>
			<size>600,400</size>
			<bg>#000000</bg>
		</object>
	</object>
</wxsmith>
