<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="pam2Dialog">
		<title>wxWidgets app</title>
		<size>800,480</size>
		<bg>#000000</bg>
		<style>wxNO_BORDER</style>
		<object class="Custom" name="ID_M_PSWP1" variable="m_pswpMain" member="yes">
			<creating_code></creating_code>
			<style>wmSwitcherPanel::STYLE&amp;NOSWIPE|wmSwitcherPanel::STYLE&amp;NOANIMATION</style>
			<pos>0,0</pos>
			<size>600,480</size>
		</object>
		<object class="wxPanel" name="ID_PANEL1" variable="pnlLists" member="yes">
			<pos>600,0</pos>
			<size>200,480</size>
			<bg>#000000</bg>
			<object class="Custom" name="ID_M_PLST1" variable="m_plstScreens" member="yes">
				<creating_code></creating_code>
				<style>wmList::STYLE&amp;SELECT</style>
				<pos>0,0</pos>
				<size>200,139</size>
				<bg>#000000</bg>
			</object>
			<object class="Custom" name="ID_M_PLST2" variable="m_plstOptions" member="yes">
				<creating_code></creating_code>
				<style>wmList::STYLE&amp;SELECT</style>
				<pos>0,140</pos>
				<size>200,125</size>
				<bg>#000000</bg>
			</object>
			<object class="Custom" name="ID_M_PSWP2" variable="m_pswpOptions" member="yes">
				<creating_code></creating_code>
				<style>wmSwitcherPanel::STYLE&amp;NOSWIPE|wmSwitcherPanel::STYLE&amp;NOANIMATION</style>
				<pos>0,270</pos>
				<size>200,210</size>
				<bg>#000000</bg>
			</object>
		</object>
	</object>
</wxsmith>
