<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlRTP">
		<bg>#000000</bg>
		<font>
			<size>10</size>
			<style>normal</style>
			<weight>normal</weight>
			<underlined>0</underlined>
			<family>swiss</family>
			<face>Arial</face>
		</font>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wmSwitcherPanel" name="ID_M_PSWP1" variable="m_pSwp1" member="yes">
			<pos>0,0</pos>
			<size>600,480</size>
			<style>wmSwitcherPanel::STYLE_NOSWIPE|wmSwitcherPanel::STYLE_NOANIMATION</style>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<bg>#000000</bg>
					<object class="wmList" name="ID_M_PLST1" variable="m_plstSources" member="yes">
						<button_size>-1,30</button_size>
						<columns>2</columns>
						<shading>South</shading>
						<item_border>None</item_border>
						<button>#FFFFFF</button>
						<button_pressed>#FFFFFF</button_pressed>
						<button_selected>#8080FF</button_selected>
						<text>#000000</text>
						<text_pressed>#000000</text_pressed>
						<text_selected>#000000</text_selected>
						<items />
						<pos>0,65</pos>
						<size>600,319</size>
						<bg>#FFFFFF</bg>
						<style>wmList::STYLE_SELECT|wmList::STYLE_SELECT_ROW</style>
						<handler function="OnlstSourcesSelected" entry="EVT_LIST_SELECTED" />
					</object>
					<object class="wmButton" name="ID_M_PBTN3" variable="m_pbtnAdd" member="yes">
						<label>Add&#x0A;Source</label>
						<pos>10,390</pos>
						<size>100,45</size>
						<handler function="OnbtnAddClick" entry="EVT_BUTTON" />
					</object>
					<object class="wmButton" name="ID_M_PBTN4" variable="m_pbtnUpdate" member="yes">
						<label>Update&#x0A;Selected</label>
						<button_disabled>#909090</button_disabled>
						<pos>115,390</pos>
						<size>100,45</size>
						<enabled>0</enabled>
						<handler function="OnbtnUpdateClick" entry="EVT_BUTTON" />
					</object>
					<object class="wmButton" name="ID_M_PBTN5" variable="m_pbtnDelete" member="yes">
						<label>Delete&#x0A;Selected</label>
						<button_disabled>#909090</button_disabled>
						<pos>220,390</pos>
						<size>100,45</size>
						<enabled>0</enabled>
						<handler function="OnbtnDeleteClick" entry="EVT_BUTTON" />
					</object>
					<object class="wmButton" name="ID_M_PBTN7" variable="m_pbtnDeleteAll" member="yes">
						<label>Hold To&#x0A;Delete All</label>
						<button_disabled>#909090</button_disabled>
						<pos>340,390</pos>
						<size>100,45</size>
						<style>wmButton::STYLE_HOLD</style>
						<handler function="OnbtnDeleteAllHeld" entry="EVT_BUTTON_HELD" />
					</object>
					<object class="wmButton" name="ID_M_PBTN6" variable="m_pbtnDiscover" member="yes">
						<label>Discover</label>
						<button_pressed>#F07800</button_pressed>
						<pos>490,390</pos>
						<size>100,45</size>
						<bg>#008000</bg>
						<style>wmButton::STYLE_SELECT</style>
						<handler function="OnbtnDiscoverClick" entry="EVT_BUTTON" />
					</object>
					<object class="wmLabel" name="ID_M_PLBL4" variable="m_pLbl4" member="yes">
						<label>Name</label>
						<border>uiRect::BORDER_UP</border>
						<pos>0,35</pos>
						<size>300,30</size>
						<fg>#FFFFFF</fg>
						<bg>#40C880</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL5" variable="m_pLbl5" member="yes">
						<label>URL</label>
						<border>uiRect::BORDER_UP</border>
						<pos>300,35</pos>
						<size>300,30</size>
						<fg>#FFFFFF</fg>
						<bg>#40C880</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL3" variable="m_pLbl3" member="yes">
						<label>Manage AoIP</label>
						<pos>0,5</pos>
						<size>600,30</size>
						<fg>#FFFFFF</fg>
						<bg>#004000</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
					</object>
				</object>
				<label>List</label>
			</object>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
					<bg>#000000</bg>
					<object class="wmLabel" name="ID_M_PLBL1" variable="m_pLbl1" member="yes">
						<label>Name</label>
						<pos>0,40</pos>
						<size>60,30</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmEdit" name="ID_M_PEDT1" variable="m_pedtName" member="yes">
						<value>Text</value>
						<border>uiRect::BORDER_DOWN</border>
						<border_focused>uiRect::BORDER_DOWN</border_focused>
						<background_focused>#FFFF9D</background_focused>
						<foreground_focused>#000000</foreground_focused>
						<pos>61,40</pos>
						<size>411,30</size>
						<fg>#000000</fg>
						<bg>#FFFFFF</bg>
						<handler function="OnedtNameTextEnter" entry="EVT_TEXT_ENTER" />
					</object>
					<object class="wmLabel" name="ID_M_PLBL2" variable="m_pLbl2" member="yes">
						<label>URL</label>
						<pos>0,80</pos>
						<size>60,30</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmEdit" name="ID_M_PEDT2" variable="m_pedtUrl" member="yes">
						<value>Text</value>
						<border>uiRect::BORDER_DOWN</border>
						<border_focused>uiRect::BORDER_DOWN</border_focused>
						<background_focused>#FFFF9D</background_focused>
						<foreground_focused>#000000</foreground_focused>
						<pos>61,80</pos>
						<size>411,30</size>
						<fg>#000000</fg>
						<bg>#FFFFFF</bg>
						<handler function="OnedtUrlTextEnter" entry="EVT_TEXT_ENTER" />
					</object>
					<object class="wmButton" name="ID_M_PBTN1" variable="m_pbtnConfirm" member="yes">
						<label>Add</label>
						<button_pressed>#006F00</button_pressed>
						<pos>61,120</pos>
						<size>100,45</size>
						<bg>#008000</bg>
						<handler function="OnbtnConfirmClick" entry="EVT_BUTTON" />
					</object>
					<object class="wmButton" name="ID_M_PBTN2" variable="m_pbtnCancel" member="yes">
						<label>Cancel</label>
						<button_pressed>#6F0000</button_pressed>
						<pos>170,120</pos>
						<size>100,45</size>
						<bg>#800000</bg>
						<handler function="OnbtnCancelClick" entry="EVT_BUTTON" />
					</object>
					<object class="wmKeyboard" name="ID_M_PKBD1" variable="m_pkeyboard" member="yes">
						<pos>0,180</pos>
						<size>600,250</size>
						<fg>#FFFFFF</fg>
						<font>
							<size>14</size>
							<style>normal</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL6" variable="m_pLbl6" member="yes">
						<label>Add AoIP Source</label>
						<pos>0,5</pos>
						<size>600,30</size>
						<fg>#FFFFFF</fg>
						<bg>#004000</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Arial</face>
						</font>
					</object>
				</object>
				<label>Add</label>
			</object>
		</object>
	</object>
</wxsmith>
