<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlAoIPInfo">
		<bg>#000000</bg>
		<id_arg>0</id_arg>
		<object class="wmSwitcherPanel" name="ID_M_PSWP1" variable="m_pswpInfo" member="yes">
			<pagename>Flat</pagename>
			<size>600,480</size>
			<bg>#000000</bg>
			<style>wmSwitcherPanel::STYLE_NOANIMATION</style>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="pnlSessionInfo" variable="pnlSession" member="yes">
					<bg>#000000</bg>
					<object class="wmLabel" name="ID_M_PLBL59" variable="m_pLbl33" member="yes">
						<label>Input</label>
						<pos>5,10</pos>
						<size>590,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL38" variable="m_pLbl20" member="yes">
						<label>Name</label>
						<pos>5,70</pos>
						<size>394,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL40" variable="m_pLbl24" member="yes">
						<label>Type</label>
						<pos>400,70</pos>
						<size>195,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL60" variable="m_plblInput" member="yes">
						<label></label>
						<pos>5,31</pos>
						<size>590,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL41" variable="m_plblSessionName" member="yes">
						<label></label>
						<pos>5,91</pos>
						<size>394,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL43" variable="m_plblSessionType" member="yes">
						<label></label>
						<pos>400,91</pos>
						<size>195,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL3" variable="m_pLbl3" member="yes">
						<label>Description</label>
						<pos>5,130</pos>
						<size>590,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL63" variable="m_plblDescription" member="yes">
						<label></label>
						<pos>5,151</pos>
						<size>590,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL34" variable="m_pLbl19" member="yes">
						<label>Domain</label>
						<pos>540,200</pos>
						<size>55,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL33" variable="m_pLbl18" member="yes">
						<label>Version</label>
						<pos>150,200</pos>
						<size>189,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL36" variable="m_pLbl21" member="yes">
						<label>Sync ID</label>
						<pos>340,200</pos>
						<size>199,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL58" variable="m_pLbl32" member="yes">
						<label>Sync Type</label>
						<pos>5,200</pos>
						<size>144,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL37" variable="m_plblSyncType" member="yes">
						<label></label>
						<pos>5,221</pos>
						<size>144,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL64" variable="m_plblSyncVersion" member="yes">
						<label></label>
						<pos>150,221</pos>
						<size>189,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL65" variable="m_plblSyncId" member="yes">
						<label></label>
						<pos>340,221</pos>
						<size>199,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL66" variable="m_plblSyncDomain" member="yes">
						<label></label>
						<pos>540,221</pos>
						<size>55,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL75" variable="m_pLbl40" member="yes">
						<label>Audio Subsessions</label>
						<pos>5,300</pos>
						<size>144,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL76" variable="m_pLbl41" member="yes">
						<label>Video Subsessions</label>
						<pos>150,300</pos>
						<size>144,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL77" variable="m_pLbl42" member="yes">
						<label>Duplicate Streams</label>
						<pos>295,300</pos>
						<size>144,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL78" variable="m_plblSubsessionsAudio" member="yes">
						<label></label>
						<pos>5,321</pos>
						<size>144,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL79" variable="m_plblSubsessionVideo" member="yes">
						<label></label>
						<pos>150,321</pos>
						<size>144,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL80" variable="m_plblGroups" member="yes">
						<label></label>
						<pos>295,321</pos>
						<size>144,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
				</object>
				<label>Session</label>
			</object>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL1" variable="pnlSubsession" member="yes">
					<bg>#000000</bg>
					<object class="wmLabel" name="ID_M_PLBL39" variable="m_pLbl23" member="yes">
						<label>Source</label>
						<pos>5,10</pos>
						<size>199,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL42" variable="m_plblSessionSource" member="yes">
						<label></label>
						<pos>5,31</pos>
						<size>199,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL44" variable="m_pLbl25" member="yes">
						<label>Codec</label>
						<pos>205,10</pos>
						<size>74,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL47" variable="m_plblSessionBits" member="yes">
						<label></label>
						<pos>205,31</pos>
						<size>74,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL45" variable="m_pLbl26" member="yes">
						<label>Freq</label>
						<pos>280,10</pos>
						<size>100,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL48" variable="m_plblSessionFrequency" member="yes">
						<label></label>
						<pos>280,31</pos>
						<size>100,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL46" variable="m_pLbl27" member="yes">
						<label>Channels</label>
						<pos>381,10</pos>
						<size>59,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL62" variable="m_pLbl38" member="yes">
						<label>Id</label>
						<pos>441,10</pos>
						<size>158,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL49" variable="m_plblSessionChannels" member="yes">
						<label></label>
						<pos>381,31</pos>
						<size>59,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL84" variable="m_plblSubsessionId" member="yes">
						<label></label>
						<pos>441,31</pos>
						<size>158,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL67" variable="m_pLbl22" member="yes">
						<label>Sync Type</label>
						<pos>5,70</pos>
						<size>144,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL68" variable="m_pLbl35" member="yes">
						<label>Version</label>
						<pos>150,70</pos>
						<size>189,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL69" variable="m_pLbl36" member="yes">
						<label>Sync ID</label>
						<pos>340,70</pos>
						<size>199,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL70" variable="m_pLbl37" member="yes">
						<label>Domain</label>
						<pos>540,70</pos>
						<size>55,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL71" variable="m_plblSubSyncType" member="yes">
						<label></label>
						<pos>5,91</pos>
						<size>144,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL72" variable="m_plblSubSyncVersion" member="yes">
						<label></label>
						<pos>150,91</pos>
						<size>189,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL74" variable="m_plblSubSyncDomain" member="yes">
						<label></label>
						<pos>540,91</pos>
						<size>55,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL73" variable="m_plblSubSyncId" member="yes">
						<label></label>
						<pos>340,91</pos>
						<size>199,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL52" variable="m_pLbl29" member="yes">
						<label>Sync Timestamp</label>
						<pos>5,130</pos>
						<size>149,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL54" variable="m_pLbl31" member="yes">
						<label>Current Timestamp</label>
						<pos>155,130</pos>
						<size>149,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL50" variable="m_pLbl28" member="yes">
						<label>Transmission Time</label>
						<pos>5,185</pos>
						<size>165,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL55" variable="m_plblSyncTimestamp" member="yes">
						<label></label>
						<pos>5,151</pos>
						<size>149,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL57" variable="m_plblCurrentTimestamp" member="yes">
						<label></label>
						<pos>155,151</pos>
						<size>149,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL51" variable="m_plblTransmissionTime" member="yes">
						<label></label>
						<pos>5,206</pos>
						<size>165,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL1" variable="m_pLbl1" member="yes">
						<label>Presentation Time</label>
						<pos>171,185</pos>
						<size>165,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL53" variable="m_pLbl30" member="yes">
						<label>Network Latency</label>
						<pos>337,185</pos>
						<size>100,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL4" variable="m_pLbl2" member="yes">
						<label>Display/Playback Time</label>
						<pos>5,240</pos>
						<size>166,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL61" variable="m_pLbl34" member="yes">
						<label>Last Frame Size</label>
						<pos>5,300</pos>
						<size>144,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL81" variable="m_pLbl43" member="yes">
						<label>Last Frame Duration</label>
						<pos>150,300</pos>
						<size>144,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL87" variable="m_pLbl44" member="yes">
						<label>Playback Queue</label>
						<pos>450,300</pos>
						<size>144,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL82" variable="m_plblFrameSize" member="yes">
						<label></label>
						<pos>5,321</pos>
						<size>144,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL83" variable="m_plblFrameDuration" member="yes">
						<label></label>
						<pos>150,321</pos>
						<size>144,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL88" variable="m_plblPlaybackQueue" member="yes">
						<label></label>
						<pos>450,321</pos>
						<size>144,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL6" variable="m_pLbl4" member="yes">
						<label>Playback Latency</label>
						<pos>238,240</pos>
						<size>100,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL2" variable="m_plblTimestampIn" member="yes">
						<label></label>
						<pos>171,206</pos>
						<size>165,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL56" variable="m_plblLatencyNetwork" member="yes">
						<label></label>
						<pos>337,206</pos>
						<size>100,25</size>
						<fg>#9B0000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL5" variable="m_plblTimestampOut" member="yes">
						<label></label>
						<pos>5,261</pos>
						<size>166,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL7" variable="m_plblLatency" member="yes">
						<label></label>
						<pos>238,261</pos>
						<size>100,25</size>
						<fg>#9B0000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
				</object>
				<label>Active Subsession</label>
			</object>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL2" variable="pnlQoS" member="yes">
					<bg>#000000</bg>
					<object class="wmLabel" name="ID_M_PLBL8" variable="m_pLbl5" member="yes">
						<label>QoS Measurement Time</label>
						<pos>5,5</pos>
						<size>194,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL9" variable="m_pLbl6" member="yes">
						<label>Total Packets Received</label>
						<pos>200,5</pos>
						<size>199,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL10" variable="m_pLbl7" member="yes">
						<label>Total Packets Lost</label>
						<pos>400,5</pos>
						<size>195,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL11" variable="m_plblQoSTime" member="yes">
						<label></label>
						<pos>5,26</pos>
						<size>194,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL13" variable="m_plblQoSReceived" member="yes">
						<label></label>
						<pos>200,26</pos>
						<size>199,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL12" variable="m_plblQoSLost" member="yes">
						<label></label>
						<pos>400,26</pos>
						<size>195,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL14" variable="m_pLbl8" member="yes">
						<label>kBits/s Min</label>
						<pos>5,60</pos>
						<size>194,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL15" variable="m_pLbl9" member="yes">
						<label>kBits/s Average</label>
						<pos>200,60</pos>
						<size>199,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL16" variable="m_pLbl10" member="yes">
						<label>kBits/s Max</label>
						<pos>400,60</pos>
						<size>195,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL17" variable="m_plblQoSKbMin" member="yes">
						<label></label>
						<pos>5,81</pos>
						<size>194,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL18" variable="m_plblQoSKbAv" member="yes">
						<label></label>
						<pos>200,81</pos>
						<size>199,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL19" variable="m_plblQoSKbMax" member="yes">
						<label></label>
						<pos>400,81</pos>
						<size>195,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL20" variable="m_pLbl11" member="yes">
						<label>Packets Lost/s Min</label>
						<pos>5,115</pos>
						<size>194,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL21" variable="m_pLbl12" member="yes">
						<label>Packets Lost/s Average</label>
						<pos>200,115</pos>
						<size>199,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL22" variable="m_pLbl13" member="yes">
						<label>Packets Lost/s Max</label>
						<pos>400,115</pos>
						<size>195,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL23" variable="m_plblQoSPacketsMin" member="yes">
						<label></label>
						<pos>5,136</pos>
						<size>194,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL24" variable="m_plblQoSPacketsAv" member="yes">
						<label></label>
						<pos>200,136</pos>
						<size>199,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL25" variable="m_plblQoSPacketsMax" member="yes">
						<label></label>
						<pos>400,136</pos>
						<size>195,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL26" variable="m_pLbl14" member="yes">
						<label>Inter Packet Gap Min</label>
						<pos>5,170</pos>
						<size>194,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL27" variable="m_pLbl15" member="yes">
						<label>Inter Packet Gap Average</label>
						<pos>200,170</pos>
						<size>199,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL28" variable="m_pLbl16" member="yes">
						<label>Inter Packet Gap Max</label>
						<pos>400,170</pos>
						<size>195,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL29" variable="m_plblQoSInterMin" member="yes">
						<label></label>
						<pos>5,191</pos>
						<size>194,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL30" variable="m_plblQoSInterAv" member="yes">
						<label></label>
						<pos>200,191</pos>
						<size>199,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL31" variable="m_plblQoSInterMax" member="yes">
						<label></label>
						<pos>400,191</pos>
						<size>195,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL32" variable="m_pLbl17" member="yes">
						<label>Jitter</label>
						<pos>5,225</pos>
						<size>194,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL85" variable="m_pLbl39" member="yes">
						<label>Current Graph</label>
						<pos>400,225</pos>
						<size>194,20</size>
						<fg>#FFFFFF</fg>
						<bg>#008040</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL35" variable="m_plblQoSJitter" member="yes">
						<label></label>
						<pos>5,246</pos>
						<size>194,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL89" variable="m_pLbl45" member="yes">
						<label>TS-DF</label>
						<pos>200,225</pos>
						<size>194,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL90" variable="m_plblTSDF" member="yes">
						<label></label>
						<pos>200,246</pos>
						<size>194,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL86" variable="m_plblGraph" member="yes">
						<label></label>
						<pos>400,246</pos>
						<size>194,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wxPanel" name="ID_PANEL4" variable="Panel1" member="yes">
						<pos>0,280</pos>
						<size>600,160</size>
						<bg>#000000</bg>
						<object class="Custom" name="ID_CUSTOM12" subclass="LevelGraph" variable="m_pGraph" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID), $(POS),$(SIZE),1,10,0);</creating_code>
							<include_file>levelgraph.h</include_file>
							<local_include>1</local_include>
							<style></style>
							<pos>0,0</pos>
							<size>600,160</size>
							<fg>#0000FF</fg>
							<bg>#000000</bg>
							<maxsize>50,-1</maxsize>
						</object>
					</object>
				</object>
				<label>QoS</label>
			</object>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL3" variable="pnlSDP" member="yes">
					<bg>#000000</bg>
					<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="m_ptxtSDP" member="yes">
						<pos>5,5</pos>
						<size>590,435</size>
						<style>wxTE_MULTILINE|wxTE_READONLY</style>
					</object>
				</object>
				<label>Raw SDP</label>
			</object>
		</object>
	</object>
</wxsmith>
