<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlAoIPInfo">
		<bg>#000000</bg>
		<id_arg>0</id_arg>
		<object class="wmSwitcherPanel" name="ID_M_PSWP1" variable="m_pswpInfo" member="yes">
			<pagename>Flat</pagename>
			<size>600,480</size>
			<bg>#000000</bg>
			<style>wmSwitcherPanel::STYLE_NOANIMATION</style>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="pnlSessionInfo" variable="pnlSession" member="yes">
					<bg>#000000</bg>
					<object class="wmLabel" name="ID_M_PLBL59" variable="m_pLbl33" member="yes">
						<label>Input</label>
						<pos>5,10</pos>
						<size>590,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL38" variable="m_pLbl20" member="yes">
						<label>Name</label>
						<pos>5,70</pos>
						<size>394,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL40" variable="m_pLbl24" member="yes">
						<label>Type</label>
						<pos>400,70</pos>
						<size>195,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL60" variable="m_plblInput" member="yes">
						<label></label>
						<pos>5,31</pos>
						<size>590,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL41" variable="m_plblSessionName" member="yes">
						<label></label>
						<pos>5,91</pos>
						<size>394,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL43" variable="m_plblSessionType" member="yes">
						<label></label>
						<pos>400,91</pos>
						<size>195,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL3" variable="m_pLbl3" member="yes">
						<label>Description</label>
						<pos>5,130</pos>
						<size>590,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL63" variable="m_plblDescription" member="yes">
						<label></label>
						<pos>5,151</pos>
						<size>590,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL34" variable="m_pLbl19" member="yes">
						<label>Domain</label>
						<pos>540,200</pos>
						<size>55,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL33" variable="m_pLbl18" member="yes">
						<label>Version</label>
						<pos>150,200</pos>
						<size>189,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL36" variable="m_pLbl21" member="yes">
						<label>Sync ID</label>
						<pos>340,200</pos>
						<size>199,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL58" variable="m_pLbl32" member="yes">
						<label>Sync Type</label>
						<pos>5,200</pos>
						<size>144,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL37" variable="m_plblSyncType" member="yes">
						<label></label>
						<pos>5,221</pos>
						<size>144,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL64" variable="m_plblSyncVersion" member="yes">
						<label></label>
						<pos>150,221</pos>
						<size>189,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL65" variable="m_plblSyncId" member="yes">
						<label></label>
						<pos>340,221</pos>
						<size>199,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL66" variable="m_plblSyncDomain" member="yes">
						<label></label>
						<pos>540,221</pos>
						<size>55,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL75" variable="m_pLbl40" member="yes">
						<label>Audio Subsessions</label>
						<pos>5,260</pos>
						<size>144,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL77" variable="m_pLbl42" member="yes">
						<label>Duplicate Streams</label>
						<pos>150,260</pos>
						<size>144,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL78" variable="m_plblSubsessionsAudio" member="yes">
						<label></label>
						<pos>5,281</pos>
						<size>144,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL80" variable="m_plblGroups" member="yes">
						<label></label>
						<pos>150,281</pos>
						<size>144,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL54" variable="m_pLbl31" member="yes">
						<label>Current Timestamp</label>
						<pos>5,320</pos>
						<size>160,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL57" variable="m_plblCurrentTimestamp" member="yes">
						<label></label>
						<pos>5,341</pos>
						<size>160,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
					<object class="wmLabel" name="ID_M_PLBL4" variable="m_pLbl2" member="yes">
						<label>Display/Playback Time</label>
						<pos>166,320</pos>
						<size>167,20</size>
						<fg>#FFFFFF</fg>
						<bg>#0000FF</bg>
					</object>
					<object class="wmLabel" name="ID_M_PLBL5" variable="m_plblTimestampOut" member="yes">
						<label></label>
						<pos>166,341</pos>
						<size>167,25</size>
						<fg>#008000</fg>
						<bg>#FFFFFF</bg>
						<font>
							<size>10</size>
							<style>normal</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>swiss</family>
							<face>Consolas</face>
						</font>
					</object>
				</object>
				<label>Session</label>
			</object>
			<object class="wmSwitcherPanelpage">
				<object class="wxPanel" name="ID_PANEL3" variable="pnlSDP" member="yes">
					<bg>#000000</bg>
					<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="m_ptxtSDP" member="yes">
						<pos>5,5</pos>
						<size>590,435</size>
						<style>wxTE_MULTILINE|wxTE_READONLY</style>
					</object>
				</object>
				<label>Raw SDP</label>
			</object>
		</object>
	</object>
</wxsmith>
