<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlOptions">
		<bg>#000000</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wmButton" name="ID_M_PBTN11" variable="m_pbnFreeze" member="yes">
			<label>Freeze Meter</label>
			<button_pressed>#800000</button_pressed>
			<pos>95,165</pos>
			<size>90,40</size>
			<style>wmButton::STYLE_SELECT</style>
			<handler function="OnbnFreezeClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmButton" name="ID_M_PBTN1" variable="m_pbtnSurround" member="yes">
			<label>Surround</label>
			<button_pressed>#800000</button_pressed>
			<toggle_look>1</toggle_look>
			<toggle_left>Hide</toggle_left>
			<toggle_right>Show</toggle_right>
			<toggle_percent>55</toggle_percent>
			<pos>2,130</pos>
			<size>195,30</size>
			<style>wmButton::STYLE_SELECT</style>
			<handler function="OnbtnSurroundClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmButton" name="ID_M_PBTN12" variable="m_pbtnMeterClear" member="yes">
			<label>Clear</label>
			<button_pressed>#800000</button_pressed>
			<pos>2,165</pos>
			<size>90,40</size>
			<style>wmButton::STYLE_NORMAL</style>
			<handler function="OnbtnMeterClearClick" entry="EVT_BUTTON" />
		</object>
		<object class="wmList" name="ID_M_PLST25" variable="m_plstMeter_Peaks" member="yes">
			<scrolling>None</scrolling>
			<button_gap>5,5</button_gap>
			<columns>3</columns>
			<items />
			<pos>0,0</pos>
			<size>190,42</size>
			<bg>#000000</bg>
			<style>wmList::STYLE_SELECT</style>
			<handler function="OnlstMeter_PeaksSelected" entry="EVT_LIST_SELECTED" />
		</object>
		<object class="wmList" name="ID_M_PLST1" variable="m_plstText" member="yes">
			<scrolling>None</scrolling>
			<button_gap>5,5</button_gap>
			<columns>3</columns>
			<items />
			<pos>0,80</pos>
			<size>190,42</size>
			<bg>#000000</bg>
			<style>wmList::STYLE_SELECT|wmList::STYLE_SELECT_MULTI</style>
			<handler function="OnlstTextSelected" entry="EVT_LIST_SELECTED" />
		</object>
		<object class="wmLabel" name="ID_M_PLBL1" variable="m_pLbl1" member="yes">
			<label>Display Level As Text</label>
			<pos>0,50</pos>
			<size>200,0</size>
			<fg>#FFFFFF</fg>
			<bg>#8000FF</bg>
		</object>
	</object>
</wxsmith>
